.JournalEntry {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

.inferredSubjectList {

    color: #707073;
}

.JournalEntryText {
    font-size: 18px;
    margin-bottom: 8px;
}

/* The timestamp on each journal entry */
.journalEntryTimestamp {
    flex-grow: 1;
    align-self: flex-end;
    font-size: 14px;
    text-align: right;
    color: #707073;
}

/* Under the journal entry text */
.JournalEntryControl {
    display: inline-flex;
    justify-content: flex-end;
    height: 25px;
    width: 100%;
    color: #707073;
}

.entryControlItem {
    color: inherit;
}

.entrySubControl {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    color: #707073;
    background-color: #2f2f2f;
}

/* Small Screens */
@media (min-width: 768px) {

    .JournalEntry {
        padding: 10px;
        margin-bottom: 30px;
    }

    .journalEntryTimestamp {

    }

}

/* Large Screens */
@media (min-width: 1200px) {

    .JournalEntry {
        margin-bottom: 40px;
    }

}