.introMessageValue {
    font-weight: bold;
    color: rgb(58, 127, 89);
}

.introMessageText {
    color: #707073
}

#widt-highchart {
    border-top: solid #707073 2px;
    border-bottom: solid #707073 2px;
    padding: 30px 0;
    margin-bottom: 20px;
}

.data-blocks {
    font-size: xx-large;
    text-align: center;
    margin-top: 5px;
}

.data-block-title {
    font-size: large;
    color: #E0E0E3;
}

.googlePlotContainer {
    height: 500px;
}

.spaced-plot {
    margin-bottom: 20px;
}

#widt {
    padding: 15px 15px 0 15px;
}

#about-para {
    font-size: xx-large;
}

.navbar-margin-bottom {
    margin-bottom: 30px;
}

.navbar {
    border-radius: 0;
    font-size: medium;
    box-shadow: 0 2px 3px #242424;
}

.navbar-nav {
    color: #f9f9fd;
}

.navbar-nav > li:hover {
    color: #fff;
}

#github-link {
    color: #44a340;
}

#twitter-link {
    color: #55acee;
}

#linkedin-link {
    color: #0077b5;
}

#stackexchange-link {
    color: #46A2D9;
}

#googleplus-link {
    color: #db4437;
}

#ycombinator-link {
    color: #e95b00;
}

#goodreads-link {
    color: #b4b1ba;
}

#codewars-link {
    color: #bb432c;
}

#freecodecamp-link {
    color: darkgreen;
}

#quora-link {
    color: #b92b27;
}

#facebook-link {
    color: #3b5998;
}

#imdb-link {
    color: #e6be00;
}

#gyroscope-link {
    color: #44436a;
}

#duolingo-link {
    color: #75ca00;
}

.raised-element {
    background-color: transparent;
}

.padded-plot {
    padding: 25px 15px;
}

.profile-link {
    text-align: center;
    font-size: 10em;
    padding: 10px;
}

.profile-link-row {
    margin: 20px;
}

.quote {
    margin-bottom: 50px;
    font-size: xx-large;
    color: #E0E0E3;
    border-left: solid 2px #707073;
    border-bottom: solid 2px #707073;
}

.quote-attribution {
    margin-top: 7px;
    text-align: right;
    color: #707073;
    font-size: x-large;
}

.book {
    margin-bottom: 35px;
}

.book-title {
    font-size: xx-large;
}

.book-info {
    margin-top: 5px;
    color: #757575;
    font-size: medium;
}

.footer-quote {
    text-align: center;
    font-size: medium;
    padding: 15px 0;
    color: #8f8f8f;
    background: #333;
    box-shadow: 0 -2px 3px #242424;
}

.small-margin-bottom {
    margin-bottom: 30px;
}

.about-para {
    margin-bottom: 80px;
    color: #E0E0E3;
}

.loading-icon {
    text-align: center;
}

body {
    font-family: Roboto, "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #393939;
}

/* CSS for loading animation */

@keyframes blink {

    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

.saving span {

    font-size: medium;

    margin: 0 5px;

    animation-name: blink;

    animation-duration: 1.4s;

    animation-iteration-count: infinite;

    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    animation-delay: .4s;
}

.saving span:nth-child(4) {
    animation-delay: .6s;
}