
.JournalApp {
    width: 98%;
    margin: auto;
}

#journalEntryForm ::-webkit-input-placeholder {
    color: #707073;
}

#journalEntryForm :-ms-input-placeholder {
    color: #707073;
}

#journalEntryForm ::-moz-placeholder {
    color: #707073;
}

#journalEntryForm :-moz-placeholder {
    color: #707073;
}

#journalEntryInput {
    width: 100%;

    color: #E0E0E3;
    font-size: 20px;

    background: transparent;
    outline: none;
    border: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#journalSubmissionControl {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

#journalSubmissionGeoButton {

    margin-left: 0;
}

#journalSubmissionButton {
    margin-right: 0;
}

.displayNone {
    display: none !important;
}

.journalEntryActive {
    height: 70vh;
}

.journalEntryInactive {

}

#journalSearch {

    background: transparent;
    color: #E0E0E3;

    outline: none;
    border: solid #707073 1px;
    border-radius: 3px;

    margin: 15px 0;
    padding: 5px 7px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.textHighlight {
    background: rgba(54, 234, 156, 0.25);
}

.active {
    color: rgb(120, 164, 255) !important;
}

.SearchFormText {
    width: 100%;
}

.JournalEntryList {
    margin-bottom: 10px;
}

.JournalEntry {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

.inferredSubjectList {

    color: #707073;
}

.JournalEntryText {
    font-size: 18px;
}

/* Under the journal entry text */
.JournalEntryControl {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    color: #707073;
}

.entryControlItem {
    color: inherit;
}

/* The timestamp on each journal entry */
.journalEntryTimestamp {
    flex-grow: 1;
    align-self: flex-end;
    font-size: 14px;
    text-align: right;
    color: #707073;
}

.AddItemForm {
    margin-bottom: 10px;
    width: 100%;
}

/* Small Screens */
@media (min-width: 768px) {

    .JournalApp {
        width: 75%;
    }

    .JournalEntry {
        padding: 10px;
        margin-bottom: 30px;
    }

    .journalEntryTimestamp {

    }

}

/* Large Screens */
@media (min-width: 1200px) {

    .JournalApp {
        width: 60%;
    }

    .JournalEntry {
        margin-bottom: 40px;
    }

}