#journal-entry-input {
    height: 100px;

    color: #E0E0E3;
    font-size: 20px;

    background: transparent;
    border: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.inline-searchbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inline-searchbar-item {

    margin: 5px;

}

.journal-entry-control-bar {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    font-size: medium;
    color: #707073;
}

.control-bar-item {
    color: #707073;
}

.journal-form-toggle {

}

.search-highlight {
    background: rgba(54, 234, 156, 0.25);
}

.journal-entry-text {
    font-size: 20px;
}

.journalEntryTimestamp {
    flex-grow: 1;
    align-self: flex-end;
    font-size: 14px;
    text-align: right;
    color: #707073;
}

.journal-delete-button {

    color: inherit;

}

#journal-entry-form ::-webkit-input-placeholder {
    color: #707073;
}

#journal-entry-form :-ms-input-placeholder {
    color: #707073;
}

#journal-entry-form ::-moz-placeholder {
    color: #707073;
}

#journal-entry-form :-moz-placeholder {
    color: #707073;
}

#dashboard-map {
    width: 100%;
    height: 300px;
    margin: 30px 0;
}

#journal-search-bar {
    padding-bottom: 20px;
}

.inferredSubjectList {
    font-size: 0.7em;
    color: #707073;
}

#journal-search-text {

    width: 250%;

    background: transparent;
    color: #E0E0E3;

    border: solid #707073 1px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}