#journal-entry-input {
    height: 150px;

    color: #E0E0E3;
    font-size: 24px;

    background: transparent;
    border: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#journal-entry-input-button {
    background: transparent;
    color: #E0E0E3;
    border: none;
    margin: auto;
}

.journal-entry-text {
    font-size: 24px;
}

.journal-entry-info {
    font-size: 14px;
    text-align: right;
    color: #707073;
}

#journal-entry-form ::-webkit-input-placeholder {
    color: #707073;
}

#journal-entry-form :-ms-input-placeholder {
    color: #707073;
}

#journal-entry-form ::-moz-placeholder {
    color: #707073;
}

#journal-entry-form :-moz-placeholder {
    color: #707073;
}

#journal-search-bar {
    padding-bottom: 20px;
}

#journal-search-text {
    background: transparent;
    color: #E0E0E3;

    border: solid #707073 1px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}