
.JournalApp {
    width: 95%;
    margin: auto;
}

#journalEntryInput {
    height: 100px;

    color: #E0E0E3;
    font-size: 20px;

    background: transparent;
    border: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#entrySubmit {
    padding: auto;
}

#journalSearch {

    background: transparent;
    color: #E0E0E3;

    outline: none;
    border: solid #707073 1px;
    border-radius: 3px;

    margin: 10px 0;
    padding: 3px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.textHighlight {
    background: rgba(54, 234, 156, 0.25);
}

.active {
    color: rgb(120, 164, 255) !important;
}

.SearchFormText {
    width: 100%;
}

.TodoItemList {
    margin-bottom: 10px;
}

.TodoItem {
    width: 100%;
    padding: 10px;
}

.TodoItemControl {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    color: #707073;
}

.entryControlItem {
    color: inherit;
}

.journalEntryTimestamp {
    flex-grow: 1;
    align-self: flex-end;
    font-size: 14px;
    text-align: right;
    color: #707073;
}

.AddItemForm {
    margin-bottom: 10px;
    width: 100%;
}

/* Small Screens */
@media (min-width: 768px) {

    .JournalApp {
        width: 75%;
    }

    .journalEntryTimestamp {

    }

}