html {
    /* Sticky footer */
    height: 100%;
}

body {
    font-family: Roboto, "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #393939;
    color: #E0E0E3;
    padding-top: 80px;

    /* Sticky footer */
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.page-content {
    /* Sticky footer */
    flex: 1;
    padding: 0 15px;
}

.control-panel-element {
    padding: 10px;
    margin: 10px;
    border: solid gray 2px;
    border-radius: 5px;
}

.control-panel-label {
    width: 100%;
}

.studylab-entry-form {
    width: 300px;
    margin-top: 200px;
    padding: 10px;
    border: solid gray 2px;
    border-radius: 5px;
}

#dashboard-content {
    min-width: 100%;
    display: flex;
    flex-flow: row wrap;
}

#test-content {
    width: 100%;
    background-color: #1b6d85;
}

#summary-content {
    flex: 1 100%;

}

#study-control {
    flex: 1 100%;
}

#study-start-button {
    border: 0;
    color: #fff;
    background-color: #4b4;
}

#study-stop-button {
    border: 0;
    color: #fff;
    background-color: #b44;
}

.study-control-button {
    width: 100%;
}

.study-control-input {
    width: 100%;
}

.study-control-form {
    margin: 10px 0;
}

#study-clock {
    text-align: center;
    font-size: xx-large;
    color: rgba(255, 255, 255, .4);
}

.clock-separator {
    color: rgba(255, 255, 255, .4);
}

.clock-active-digit {
    color: #78a4ff;
}

.introMessageValue {
    font-weight: bold;
    color: rgb(58, 127, 89);
}

.introMessageText {
    color: #707073
}

#widt-highchart {
    border-top: solid #707073 2px;
    border-bottom: solid #707073 2px;
    padding: 30px 0;
    margin-bottom: 20px;
}

#widt {
    padding: 15px 15px 0 15px;
}

.navbar-margin-bottom {
    margin-bottom: 30px;
}

.navbar {
    border-radius: 0;
    font-size: medium;
    box-shadow: 0 2px 3px #242424;
}

.navbar-nav {
    color: #f9f9fd;
}

.navbar-nav > li:hover {
    color: #fff;
}

#github-link {
    color: #44a340;
}

#twitter-link {
    color: #55acee;
}

#linkedin-link {
    color: #0077b5;
}

#stackexchange-link {
    color: #46A2D9;
}

#googleplus-link {
    color: #db4437;
}

#ycombinator-link {
    color: #e95b00;
}

#goodreads-link {
    color: #b4b1ba;
}

#codewars-link {
    color: #bb432c;
}

#freecodecamp-link {
    color: darkgreen;
}

#quora-link {
    color: #b92b27;
}

#facebook-link {
    color: #3b5998;
}

#imdb-link {
    color: #e6be00;
}

#gyroscope-link {
    color: #44436a;
}

#duolingo-link {
    color: #75ca00;
}

#wordpress-link {
    color: rgb(39, 136, 193);
}

.raised-element {
    background-color: transparent;
}

.padded-plot {
    padding: 25px 15px;
}

.profile-link-row {
    margin: 20px;
}

footer {
    /* Ensure that the footer stretches the entire page width */
    align-self: stretch;

    /* The footer content is organized with flex */
    display: flex;
    align-items: center;
    justify-content: space-around;

    color: #8f8f8f;
    background: #333;
    box-shadow: 0 -2px 3px #242424;
    font-size: medium;
    height: 50px;
    padding: 0 10px;
}

#footer-copyright {
    flex: 1;
    text-align: right;
}

.footer-link {
    text-align: center;
    margin: 0 20px;
}

.small-margin-bottom {
    margin-bottom: 30px;
}

.loading-icon {
    text-align: center;
}

/* X-Small Screens */
.data-blocks {
    font-size: xx-large;
    text-align: center;
}

.data-block-title {
    font-size: large;
}

.profile-link {
    font-size: 3.5em;
    text-align: center;
    padding: 10px;
}

.partial-border {
    border-bottom: solid 2px #707073;
}

.quote {
    margin-bottom: 30px;
    font-size: x-large;
}

.quote-attribution {
    margin-top: 7px;
    text-align: right;
    color: #707073;
    font-size: large;
}

#about-para {
    font-size: x-large;
    margin-bottom: 80px;
}

.highcharts-title {
    font-size: 20px;
}

.chart-container {
    height: 350px;
}

/* CSS for loading animation */

@keyframes blink {

    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

.loading-dots span {

    font-size: small;

    margin: 0 5px;

    animation-name: blink;

    animation-duration: 1.4s;

    animation-iteration-count: infinite;

    animation-fill-mode: both;
}

.loading-dots span:nth-child(2) {
    animation-delay: .2s;
}

.loading-dots span:nth-child(3) {
    animation-delay: .4s;
}

.loading-dots span:nth-child(4) {
    animation-delay: .6s;
}

/*- - - - - - - - - - - - - - */

/* Small Screens */
@media (min-width: 768px) {

    .chart-container {
        height: 500px;
    }

    .profile-link {
        font-size: 6em;
    }

    .quote {
        margin-bottom: 50px;
        font-size: xx-large;
    }

    .quote-attribution {
        margin-top: 7px;
        font-size: x-large;
    }

    #about-para {
        font-size: xx-large;
    }

    .partial-border {
        border-left: solid 2px #707073;
    }

    .highcharts-title {
        font-size: 30px;
    }

    .data-blocks {
        font-size: large;
    }

    .data-block-title {
        font-size: small;
    }

    #summary-content {
        flex: 3;
    }

    #study-control {
        flex: 1;
    }

    #study-clock {
        font-size: 3vw;
    }

}

/* Medium Screens */
@media (min-width: 992px) {

    .profile-link {
        font-size: 8em;
    }

    .data-blocks {
        font-size: x-large;
    }

    .data-block-title {
        font-size: medium;
    }

}

/* Large Screens */
@media (min-width: 1200px) {

    .loading-dots span {
        font-size: medium;
    }

    .profile-link {
        font-size: 10em;
    }

    .data-blocks {
        font-size: xx-large;
    }

    .data-block-title {
        font-size: large;
    }

}

/* X-Large Screens */
@media (min-width: 1800px) {

    .chart-container {
        height: 700px;
    }

    .data-blocks {
        font-size: 2vw;
    }

    .data-block-title {
        font-size: 1vw;
    }
}