.introMessageValue {
    font-weight: bold;
    color: green;
}

.introMessageValue:hover {
    color: #ff4730;
}

#introMessage {
    font-size: xx-large;
    font-family: Roboto, serif;
}

.googlePlotContainer {
    height: 500px;
}

.plotSpacer {
    height: 100px;
}

#todaysOverview {
    font-family: Roboto, serif;
    font-size: xx-large;
    font-weight: bold;
    color: #757575;
}

#about-para {
    font-size: xx-large;
}

.header-content-padding {
    height: 15px;
}

body {
    font-family: Roboto, serif;
}