@import "../highcharts/highcharts-style.css";

.highcharts-root {
    font-family: Roboto, "Open Sans", Helvetica, Arial, sans-serif;
    color: #E0E0E3
}

.highcharts-background {
    fill: transparent;
}

.highcharts-title {
    font-size: 20px;
    fill: #E0E0E3;
}

.highcharts-subtitle {
    font-size: 10px;
    fill: #E0E0E3;
}

.highcharts-axis-title {
    fill: #A0A0A3;
}

.highcharts-axis-line {
    stroke: #707073;
}

.highcharts-grid-line {
    stroke: #707073;
}

.highcharts-minor-grid-line {
    stroke: #505053;
}

.highcharts-tick {
    stroke: #707073;
}

.highcharts-axis-labels {
    fill: rgba(224, 224, 227, .55);
    font-size: 12px;
}

/* Set the default fill opacity for a series */
.highcharts-series {
    fill-opacity: 0.9;
}

.highcharts-tooltip text {
    fill: #F0F0F0;
}

.highcharts-tooltip-box {
    fill: rgba(0, 0, 0, 0.8);
}

.highcharts-color-0 {
    fill: rgb(58, 127, 89);
    stroke: rgb(58, 127, 89);
}

.highcharts-column-series {
    fill: rgba(58, 127, 89, .9);
}

#subjectTotalsPlot .highcharts-point {
    stroke: rgb(58, 127, 89);
}

#dayOfWeekAveragesPlot .highcharts-point {
    stroke: rgb(58, 127, 89);
}

/* The gradient for area charts */
#gradient-0 stop {
    stop-color: rgb(58, 127, 89)
}

#gradient-0 stop[offset="0"] {
    stop-opacity: 1;
}

#gradient-0 stop[offset="1"] {
    stop-opacity: 0.65;
}

#widt-highchart .highcharts-bar-series .highcharts-point {
    fill: rgb(58, 127, 89);
    stroke: rgb(58, 127, 89);
}

#widt-highchart .highcharts-data-label text {
    fill: #E0E0E3;
    fill-opacity: .75;
    letter-spacing: 1px;
}

#widt-highchart .highcharts-tooltip-box {
    stroke: rgb(58, 127, 89);
}

/*- - - - - - - - - - - - - - - */

.highcharts-area {
    fill: url(#gradient-0);
    fill-opacity: 1;
}

/* Monotonic charts do not have a gradient fill */
.monotonic .highcharts-area {
    fill: rgb(58, 127, 89);
    fill-opacity: .8;
}

/* Small Screens */
@media (min-width: 768px) {

    .highcharts-title {
        font-size: 30px;
    }

    .highcharts-subtitle {
        font-size: 15px;
    }

    .highcharts-axis-labels {
        font-size: 18px;
    }
}