@()(implicit messages: Messages)

    @siteTemplate("About") {

        <script src="@routes.Assets.at("/javascripts/loadJSON.js")"></script>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 raised-element padded-plot text-justify about-para" id="about-para">
                    <div id="aboutMessage"></div>
                </div>
            </div>
        </div>

        <script>

                // Load the about message
                loadJSONFile("/json/about/jgdodson", function (response) {

                    document.getElementById("aboutMessage").textContent = response["about"];
                });
        </script>
    }