@()(implicit messages: Messages)

@mainGoogle("Jordan G. Dodson") {

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                    <!--Put a table here with round pic above justified text-->
                <table class="center-block text-center table">
                    <tr>
                        <td><img src=@routes.Assets.at("/images/headshot-books-crop1.jpg") class="img-responsive img-rounded"></td>
                    </tr>
                    <tr>
                        <td class="text-justify">
                            Hi. I'm Jordan. My goal is to connect the physical with the digital, giving humanity greater knowledge of
                            and control over the world.
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}