@()(implicit messages: Messages)

@siteTemplate("About") {

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8 col-md-offset-2 raised-element padded-plot text-justify about-para" id="about-para">
                <div>
                    This site is an attmept to record and analyze my journey as a programmer. The atom of my analysis
                    is the study session: a start time, an end time, and a description of what I did in-between. Each
                    session is like a git commit, except instead of updating my codebase, I'm updating myself.
                </div>

                <div class="col-md-4 col-md-offset-4">
                    <img src="@routes.Assets.at("images/headshot-books.jpg")" class="img-responsive img-rounded">
                </div>
            </div>

        </div>
    </div>
}