@()(implicit messages: Messages)

@siteTemplate("Jordan G. Dodson") {

    <div id="book-list" class="container-fluid">
        <div class="row smallLowerPadding">
            <div class="col-sm-10 col-sm-offset-1 raised-element">
                <div id="introMessage">
                    I've read <span id="bookTotal" class="introMessageValue"></span> books
                    by <span id="authorTotal" class="introMessageValue"></span> authors. At an
                    average of <span id="averagePageCount" class="introMessageValue"></span> pages per book,
                    that's <span id="pageCount" class="introMessageValue"></span> pages in total.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 raised-element spaced-plot">
                <div id="cumulativePagesPlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 raised-element spaced-plot">
                <div id="pagesPerAuthorPlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 raised-element spaced-plot">
                <div id="booksPerPubYearPlot" class="googlePlotContainer"></div>
            </div>
        </div>

    </div>

    <script>

            google.charts.load('44', {packages: ['line', 'bar', 'timeline']});


            function loadJSONFile(path, callback) {

                var httpRequest = new XMLHttpRequest();

                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState === 4) {
                        if (httpRequest.status === 200) {

                            // Parse the response text as JSON
                            var data = JSON.parse(httpRequest.responseText);

                            if (callback) {
                                callback(data);
                            }
                        }
                    }
                };
                httpRequest.open('GET', path);
                httpRequest.send();
            }


            // Build an element for a single quote
            function buildBook(book) {
                var row = document.createElement("div");
                var d1 = document.createElement("div");
                var d2 = document.createElement("div");
                var titleDiv = document.createElement("div");
                var authorDiv = document.createElement("div");
                var dateDiv = document.createElement("div");
                var ratingDiv = document.createElement("div");
                var ratingSpan = document.createElement("span");
                var coverImage = document.createElement("img");

                titleDiv.appendChild(document.createTextNode(book.title));

                var ratingText = book.userRating + "/5";
                ratingSpan.appendChild(document.createTextNode(ratingText));

                ratingDiv.appendChild(document.createTextNode("My Rating: "));
                ratingDiv.appendChild(ratingSpan);

                var dateString = new Date(book.finished).toDateString().substr(4);

                dateDiv.appendChild(document.createTextNode("Finished: " + dateString));

                // Set attributes
                row.setAttribute("class", "row");
                d1.setAttribute("class", "col-md-10 col-md-offset-1 book raised-element");
                titleDiv.setAttribute("class", "book-title");
                authorDiv.setAttribute("class", "book-info");
                dateDiv.setAttribute("class", "book-info");
                ratingDiv.setAttribute("class", "book-info");
                coverImage.setAttribute("src", book.imageURL);
                coverImage.style.float = "right";

                d2.style.width = "60%";
                d2.style.display = "inline-block";

                var colors = [
                    "#FF0000", "#D91300", "#664D00", "#336600", "#008000"
                ];

                ratingSpan.style.color = colors[book.userRating - 1];

                var authLabel;
                if (book.authors.length > 1) {
                    authLabel = "Authors: ";
                } else {
                    authLabel = "Author: ";
                }

                authorDiv.appendChild(document.createTextNode(authLabel + book.authors.join(", ")));

                d2.appendChild(titleDiv);
                d2.appendChild(authorDiv);
                d2.appendChild(dateDiv);
                d2.appendChild(ratingDiv);

                d1.appendChild(d2);
                d1.appendChild(coverImage);

                row.appendChild(d1);

                return row;
            }


            // Global plot properties
            var titleIsBold = true;
            var titleFontSize = 32;
            var hAxisFontSize = 20;
            var vAxisFontSize = 16;

            // Convert the values in the given columns to Date objects
            function convertDates(rows, column) {
                rows.forEach(function (elem, i, self) {
                    elem[column] = new Date(elem[0]);
                });
            }


            function getCumulativePagesDrawer(bookData, elementId) {

                var options = {
                    chart: {
                        title: "Cumulative Pages Read"
                    },
                    legend: {
                        position: 'none'
                    },
                    colors: ['green'],
                    titleTextStyle: {
                        fontSize: titleFontSize,
                        bold: titleIsBold
                    },
                    hAxis: {
                        title: "",
                        textStyle: {
                            fontSize: hAxisFontSize
                        },
                        ticks: [new Date(1000000000), new Date(12345678900)]
                    },
                    vAxis: {
                        textStyle: {
                            fontSize: 20
                        }
                    },
                    // Not working
                    lineWidth: 10,
                    // Not working
                    curveType: 'function'
                };

                function tmp() {
                    var table = new google.visualization.DataTable();

                    table.addColumn("date", "Millis Since Epoch");
                    table.addColumn("number", "Cumulative number of pages read");

                    table.addRows(bookData.cumulativePages);

                    var chart = new google.charts.Line(document.getElementById(elementId));

                    var convertedOptions = google.charts.Line.convertOptions(options);

                    chart.draw(table, convertedOptions);
                }

                return tmp;
            }


            function getPagesPerAuthorDrawer(bookData, elementId) {

                var options = {
                    chart: {
                        title: "Pages per author",
                        subtitle: "top 15 most-read authors"
                    },
                    titleTextStyle: {
                        fontSize: titleFontSize,
                        bold: titleIsBold
                    },
                    legend: {
                        position: 'none'
                    },
                    hAxis: {
                        title: "",
                        textStyle: {
                            fontSize: hAxisFontSize
                        }
                    },
                    vAxis: {
                        title: "",
                        textStyle: {
                            fontSize: 20
                        }
                    },
                    bars: 'horizontal'
                };


                function tmp() {
                    var table = new google.visualization.DataTable();

                    table.addColumn("string", "Author");
                    table.addColumn("number", "Pages read");

                    table.addRows(bookData.pagesPerAuthor.slice(0, 15));

                    var chart = new google.charts.Bar(document.getElementById(elementId));

                    var convertedOptions = google.charts.Bar.convertOptions(options);

                    chart.draw(table, convertedOptions);
                }

                return tmp;
            }

            function getBooksPerPubYearDrawer(bookData, elementId) {

                var options = {
                    chart: {
                        title: "Books Read Per Publication Year",
                        subtitle: ""
                    },
                    titleTextStyle: {
                        fontSize: titleFontSize,
                        bold: titleIsBold
                    },
                    legend: {
                        position: "none"
                    },
                    hAxis: {
                        title: "",
                        textStyle: {
                            fontSize: hAxisFontSize
                        },
                        format: "####",
                        // Not working
                        slantedText: true
                    },
                    vAxis: {
                        title: "",
                        textStyle: {
                            fontSize: 20
                        }
                    },
                    bars: 'vertical'
                };


                function tmp() {
                    var table = new google.visualization.DataTable();

                    table.addColumn("number", "Year");
                    table.addColumn("number", "Books read");

                    table.addRows(bookData.booksPerPubYear);

                    var chart = new google.charts.Bar(document.getElementById(elementId));

                    var convertedOptions = google.charts.Bar.convertOptions(options);

                    chart.draw(table, convertedOptions);
                }

                return tmp;
            }


            loadJSONFile("/json/books/1", function (books) {

                console.log(books);

                convertDates(books.stats.cumulativePages, 0);


                // Set up callbacks
                google.charts.setOnLoadCallback(getCumulativePagesDrawer(books.stats, "cumulativePagesPlot"));
                google.charts.setOnLoadCallback(getPagesPerAuthorDrawer(books.stats, "pagesPerAuthorPlot"));
                google.charts.setOnLoadCallback(getBooksPerPubYearDrawer(books.stats, "booksPerPubYearPlot"));

                var bookList = document.getElementById("book-list");
                var bookTotal = document.getElementById("bookTotal");
                var authorTotal = document.getElementById("authorTotal");
                var averagePageCount = document.getElementById("averagePageCount");
                var pageCount = document.getElementById("pageCount");

                bookTotal.textContent = books.stats.bookCount.toString();
                authorTotal.textContent = books.stats.authorCount.toString();
                averagePageCount.textContent = books.stats.averagePageCount.toString();
                pageCount.textContent = books.stats.pageCount.toString();

                /*
                 for (var i = 0; i < books.books.length; i++) {
                 bookList.appendChild(buildBook(books.books[i]));
                 }
                 */

            });
    </script>
}