@()(implicit messages: Messages)

@siteTemplate("Homepage") {

    <!-- Contains all raised elements-->
    <div class="container-fluid">

            <!-- Summary data -->
        <div class="row small-margin-bottom data-blocks">

                <!-- Total hours studied -->
            <div class="col-sm-offset-1 col-sm-2 raised-element">
                <u class="data-block-title">Total</u><br>
                <span id="total-value" class="introMessageValue"></span> hours
            </div>

                <!-- Hours studied today vs. average -->
            <div class=" col-sm-offset-1 col-sm-4 raised-element">
                <u class="data-block-title">Today / Average</u><br>
                <span id="today-value" class="introMessageValue"></span>
                / <span id="average-value" class="introMessageValue"></span>
            </div>

                <!-- Length of the current streak -->
            <div class=" col-sm-offset-1 col-sm-2 raised-element">
                <u class="data-block-title">Current Streak</u><br>
                <span id="streak-value" class="introMessageValue"></span> days
            </div>
        </div>

            <!-- Today's sessions plot -->
        <div id="widt-row" class="row small-margin-bottom">
            <div id="widt" class="col-sm-offset-1 col-sm-10 raised-element">
                <div id="todaysSessionsPlot" class="loading-icon">
                    <span class="fa fa-4x fa-circle-o-notch fa-spin"></span>
                </div>
            </div>
        </div>

            <!-- Cumulative hours studied plot-->
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 raised-element padded-plot spaced-plot">
                <div id="cumulativePlot" class="googlePlotContainer loading-icon">
                    <span class="fa fa-4x fa-circle-o-notch fa-spin"></span>
                </div>
            </div>
        </div>

            <!-- Subject totals plot-->
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 raised-element padded-plot spaced-plot">
                <div id="subjectTotalsPlot" class="googlePlotContainer loading-icon">
                    <span class="fa fa-4x fa-circle-o-notch fa-spin"></span>
                </div>
            </div>
        </div>

            <!-- Average-day probability plot -->
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 raised-element padded-plot spaced-plot">
                <div id="probabilityPlot" class="googlePlotContainer loading-icon">
                    <span class="fa fa-4x fa-circle-o-notch fa-spin"></span>
                </div>
            </div>
        </div>

            <!-- Moving-average plot -->
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 raised-element padded-plot spaced-plot">
                <div id="movingAveragePlot" class="googlePlotContainer loading-icon">
                    <span class="fa fa-4x fa-circle-o-notch fa-spin"></span>
                </div>
            </div>
        </div>
    </div>

    <script src="@routes.Assets.at("/javascripts/loadJSON.js")"></script>
    <script src="@routes.Assets.at("/javascripts/moment.js")"></script>
    <script src="@routes.Assets.at("/javascripts/moment-timezone-10-20.js")"></script>
    <script src="@routes.Assets.at("/javascripts/stats.js")"></script>

    <script>
            //
            // Does not handle sessions longer than 24 hours
            function splitDays(sessions) {

                var tz = "America/Chicago";

                // Trivial case
                if (sessions.length === 0) {
                    return [];
                }

                var m_sessions = sessions.map(function (curr, i, arr) {
                    return {
                        "start": moment(curr.startTime).tz(tz),
                        "stop": moment(curr.endTime).tz(tz),
                        "subject": curr.subject
                    }
                });


                // The end of the day being handled
                var marker = m_sessions[0].start.clone().endOf('day');

                var todayMarker = moment().tz(tz).endOf('day');

                var dayMarks = [];

                while (marker <= todayMarker) {
                    dayMarks.push(marker.clone());
                    marker.add(1, 'day');
                }

                // Session index
                var sess_ind = 0;

                var carryOver = [];

                var dayGroups = [];

                dayMarks.forEach(function (dayMark, i, arr) {

                    //
                    var today = {"date": dayMark, "sessions": carryOver};

                    // Get all sessions that fall within the current day
                    while (sess_ind < m_sessions.length && m_sessions[sess_ind].stop < dayMark) {
                        today["sessions"].push(m_sessions[sess_ind]);
                        sess_ind++;
                    }

                    // Check for a session that crosses the dayMark
                    if (sess_ind < m_sessions.length && m_sessions[sess_ind].start < dayMark) {

                        today['sessions'].push({
                            "start": m_sessions[sess_ind].start.clone(),
                            "stop": dayMark.clone(),
                            "subject": m_sessions[sess_ind].subject
                        });

                        carryOver = [{
                            "start": dayMark.clone().add(1, 'day').startOf('day'),
                            "stop": m_sessions[sess_ind].stop.clone(),
                            "subject": m_sessions[sess_ind].subject
                        }];

                        sess_ind++;
                    } else {
                        carryOver = [];
                    }

                    //
                    dayGroups.push(today);

                });

                return dayGroups;
            }

            function daysSinceStart(dayGroups) {
                return dayGroups.length;
            }

            function todaysTotal(dayGroups) {
                return sumSessions(dayGroups[dayGroups.length - 1]['sessions']);
            }

            function todaysSessions(dayGroups) {
                return dayGroups[dayGroups.length - 1]['sessions'];
            }

            function sumSessions(sessions) {

                return sessions.reduce(function (acc, curr, i) {
                    return acc + ((curr.stop - curr.start) / 3600000);
                }, 0);

            }

            function sumArray(arr) {
                return arr.reduce(function (acc, curr, i) {
                    return acc + curr;
                }, 0);
            }

            function monthsSessions(dayGroups) {

                var startOfMonth = dayGroups[dayGroups.length - 1]['date'].clone().startOf('month');

                var i = dayGroups.length - 1;

                while (i >= 0 && dayGroups[i]['date'] > startOfMonth) {
                    i--;
                }

                var res = [];

                // The original array is not modified
                dayGroups.slice(i + 1).forEach(function (dayGroup, i, arr) {
                    dayGroup['sessions'].forEach(function (curr, i, arr) {
                        res.push(curr);
                    });
                });

                return res;
            }

            // Return the length of the current streak
            function currentStreak(dayGroups) {

                if (dayGroups.length == 0) {
                    return 0;
                }

                var i = dayGroups.length - 2;

                while (i >= 0 && dayGroups[i]['sessions'].length > 0) {
                    i--;
                }

                var pre = dayGroups.length - i - 2;

                if (dayGroups[dayGroups.length - 1]['sessions'].length > 0) {
                    pre += 1;
                }

                return pre;
            }

            function dailyAverage(dayGroups) {

                var dailies = dayGroups.map(function (curr, i, arr) {
                    return sumSessions(curr.sessions);
                });

                return sumArray(dailies) / dailies.length;
            }

            function dailyStdev(dayGroups) {

                var mu = dailyAverage(dayGroups);

                var sse = dayGroups.reduce(function (acc, curr, ind) {
                    return acc + Math.pow(sumSessions(curr.sessions) - mu, 2);
                }, 0);

                return Math.pow(sse / (dayGroups.length - 1), 0.5);
            }

            function probability(numBins, dayGroups) {

                var bins = [];

                for (var i = 0; i < numBins; i++) {
                    bins.push(0);
                }

                dayGroups.forEach(function (dayGroup, i, _) {
                    dayGroup['sessions'].forEach(function (session, j, _) {

                        var upperBound = dayGroup['date'].clone() ;
                        var lowerBound = dayGroup['date'].clone().startOf('day');

                        var startBin = Math.floor((session.start - lowerBound) * numBins / (upperBound - lowerBound));
                        var stopBin = Math.floor((session.stop - lowerBound) * numBins / (upperBound - lowerBound));

                        for (var b = startBin; b < stopBin; b++) {
                            bins[b] += 1;
                        }
                    });
                });

                // Normalize
                bins.forEach(function (curr, i, arr) {
                    bins[i] = curr / dayGroups.length;
                });

                return bins;
            }


            function movingAverage(dayGroups, radius) {

                if (dayGroups.length < radius) {
                    return [];
                }

                var dailyTotals = dayGroups.map(function (curr, i, arr) {
                    return {
                        "date": curr['date'],
                        "total": sumSessions(curr['sessions'])
                    }
                });

                var windowTotal = sumArray(dailyTotals.slice(0, radius).map(function (curr, i, arr) {
                    return curr['total'];
                }));

                var res = [[dayGroups[radius - 1]['date'].valueOf(), windowTotal / radius]];

                for (var i = radius; i < dayGroups.length; i++) {
                    windowTotal -= dailyTotals[i - radius]['total'];
                    windowTotal += dailyTotals[i]['total'];
                    res.push([dailyTotals[i]['date'].valueOf(), windowTotal / radius]);
                }

                return res;
            }

            // TODO: Comment this function
            function stats1(sessions, numLevels) {

                var dayGroups = splitDays(sessions);

                var dailyTotals = dayGroups.map(function (curr, i, arr) {
                    return sumSessions(curr.sessions);
                });

                var diff;
                var cumul = 0;

                // Total duration of completed sessions
                var total = sumRawSessions(sessions);

                var levelSize = total / numLevels;

                var level = 1;
                var res = [[new Date(sessions[0].startTime), 0]];

                sessions.forEach(function (curr, i, arr) {
                    diff = (curr.endTime - curr.startTime) / (3600 * 1000);

                    cumul += diff;

                    if (cumul >= level * levelSize) {

                        // How much the session extends past the level boundary
                        var t = (cumul - level * levelSize) * 3600 * 1000;

                        res.push([new Date(curr.endTime - t), level * levelSize]);
                        level += 1;
                    }
                });

                // Last item in cumuls
                if (res.length < numLevels + 1) {
                    res.push([new Date(sessions[sessions.length - 1].endTime), cumul]);
                }

                return {
                    "cumulative": res,
                    "total": total,
                    "dailyAverage": dailyAverage(dayGroups),
                    "todaysSessions": todaysSessions(dayGroups),
                    "monthsSessions": monthsSessions(dayGroups),
                    "todaysTotal": todaysTotal(dayGroups),
                    "currentStreak": currentStreak(dayGroups),
                    "daysSinceStart": daysSinceStart(dayGroups),
                    "probability": probability(100, dayGroups),
                    "movingAverage": movingAverage(dayGroups, 56),
                    "dailyTotals": dailyTotals,
                    "dailyTotalHistogram": dailyTotalHistogram(dailyTotals)
                }
            }

    </script>

    <script>

            // Load the  charts
            google.charts.load('44', {packages: ['line', 'bar', 'timeline']});

            // Get a duration as [hh, mm, ss] from seconds
            function hms(sec) {
                var h = Math.floor(sec / 3600);

                sec = sec - 3600 * h;

                var m = Math.floor(sec / 60);

                sec = sec - 60 * m;

                return [h, m, sec];
            }


            // Global plot properties
            var titleIsBold = true;
            var titleFontSize = 32;
            var hAxisFontSize = 20;
            var vAxisFontSize = 20;

            var hAxisOptionsDefault = {
                title: "",
                textStyle: {
                    fontSize: hAxisFontSize
                }
            };

            var vAxisOptionsDefault = {
                textStyle: {
                    fontSize: vAxisFontSize
                }
            };

            var legendOptionsDefault = {
                position: 'none'
            };


            function writeIntroMessageJS(stats) {

                document.getElementById("average-value").textContent = stats.dailyAverage.toFixed(2).toString();

                document.getElementById("total-value").textContent = Math.round(stats.total).toString();

                document.getElementById("today-value").textContent = stats.todaysTotal.toFixed(2).toString();

                document.getElementById("streak-value").textContent = stats.currentStreak.toString();
            }


            /*
             * Add a parameter to determine the resolution of the bins.
             */
            function dailyTotalHistogram(dailyTotals) {

                // Bins are as follows: <=0, <=1, <=2, ...
                var bins = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

                dailyTotals.forEach(function (curr, i, arr) {
                    bins[Math.ceil(curr)] += 1;
                });

                // Normalize the bins
                bins.forEach(function (curr, i, arr) {
                    bins[i] = bins[i] / dailyTotals.length;
                });

                return bins;
            }


            function getTodaysSessionsPlotDrawer(sessions, elementId) {

                function tmp() {

                    var options = {
                        height: 95,
                        hAxis: {
                            title: "",
                            fontSize: 0
                        },
                        backgroundColor: "transparent",
                        groupByRowLabel: false
                    };

                    var table = new google.visualization.DataTable();

                    table.addColumn({type: "string", id: "Role"});
                    table.addColumn({type: "string", id: "Subject"});
                    table.addColumn({type: "number", id: "Start"});
                    table.addColumn({type: "number", id: "End"});


                    var rows = sessions.map(function (elem, i, self) {
                        return ["What I've Done Today", elem.subject, elem.start.valueOf(), elem.stop.valueOf()];
                    });

                    table.addRows(rows);

                    var chart = new google.visualization.Timeline(document.getElementById(elementId));

                    chart.draw(table, options);
                }

                return tmp;
            }


            function getCumulativePlotDrawer(cumulativeData, elementId) {

                var options = {
                    chart: {
                        title: "Cumulative Hours Studied"
                    },
                    legend: legendOptionsDefault,
                    colors: ['green'],
                    titleTextStyle: {
                        fontSize: titleFontSize,
                        bold: titleIsBold
                    },
                    hAxis: hAxisOptionsDefault,
                    vAxis: vAxisOptionsDefault,
                    backgroundColor: "transparent",
                    chartArea: {
                        backgroundColor: "transparent"
                    },
                    // Not working
                    lineWidth: 10,
                    // Not working
                    curveType: 'function'
                };

                function tmp() {

                    var columnLabels = [["Date", "Cumulative Hours Studied"]];

                    var chart = new google.charts.Line(document.getElementById(elementId));

                    var table = google.visualization.arrayToDataTable(columnLabels.concat(cumulativeData));

                    chart.draw(table, google.charts.Line.convertOptions(options));
                }

                return tmp;
            }

            function getSlidingAveragePlotDrawer(slidingAverageData, elementId) {

                var options = {
                    chart: {
                        title: "Hours Studied Per Day",
                        subtitle: "Sliding average - 31 day window"
                    },
                    legend: legendOptionsDefault,
                    colors: ['green'],
                    titleTextStyle: {
                        fontSize: titleFontSize,
                        bold: titleIsBold
                    },
                    hAxis: hAxisOptionsDefault,
                    vAxis: {
                        textStyle: {
                            fontSize: vAxisFontSize
                        }
                    },
                    backgroundColor: "transparent",
                    chartArea: {
                        backgroundColor: "transparent"
                    },
                    // Not working
                    lineWidth: 10,
                    // Not working
                    curveType: 'function'
                };

                convertDates(slidingAverageData, 0);

                function tmp() {

                    var columnLabels = [["Date", "Average Hours Studied"]];

                    var chart = new google.charts.Line(document.getElementById(elementId));

                    var table = google.visualization.arrayToDataTable(columnLabels.concat(slidingAverageData));

                    chart.draw(table, google.charts.Line.convertOptions(options));
                }

                return tmp;
            }


            // Returns a function that will draw the SubjectTotals plot
            function getSubjectTotalsPlotDrawer(subjectTotals, elementId) {

                var options = {
                    chart: {
                        title: "Total Hours Studied Per Subject",
                        subtitle: "10 most studied subjects"
                    },
                    titleTextStyle: {
                        fontSize: titleFontSize,
                        bold: titleIsBold
                    },
                    legend: legendOptionsDefault,
                    hAxis: hAxisOptionsDefault,
                    vAxis: vAxisOptionsDefault,
                    backgroundColor: "transparent",
                    chartArea: {
                        backgroundColor: "transparent"
                    },
                    bars: 'vertical',
                    colors: ['green']
                };


                function tmp() {

                    var columnLabels = [["Subject", "Total"]];

                    var chart = new google.charts.Bar(document.getElementById(elementId));

                    var table = google.visualization.arrayToDataTable(columnLabels.concat(subjectTotals));

                    chart.draw(table, google.charts.Bar.convertOptions(options));
                }

                return tmp;
            }


            function getProbabilityPlotDrawer(probabilities, elementId) {

                var options = {
                    chart: {
                        title: "Probability That I'm Programming",
                        subtitle: "at a particular time on any given day"
                    },
                    titleTextStyle: {
                        fontSize: titleFontSize,
                        bold: titleIsBold
                    },
                    legend: legendOptionsDefault,
                    hAxis: {
                        title: "",
                        textStyle: {
                            fontSize: hAxisFontSize
                        },
                        format: "h a"
                    },
                    vAxis: vAxisOptionsDefault,
                    backgroundColor: "transparent",
                    chartArea: {
                        backgroundColor: "transparent"
                    },
                    lineWidth: 10,
                    colors: ['green']
                };

                function tmp() {

                    var columnLabels = [["Time", "Probability"]];

                    var dataArray = probabilities.map(function (elem, i, self) {
                        return [hms((i / self.length) * 86400), elem];
                    });

                    dataArray.forEach(function (elem, i, self) {
                        elem[0][0] += 6;
                        elem[0][0] %= 24;
                    });

                    dataArray.sort(function (a, b) {

                        if (a[0][0] < b [0][0]) {
                            return -1;
                        } else if (a[0][0] > b[0][0]) {
                            return 1;
                        } else if (a[0][1] < b[0][1]) {
                            return -1;
                        } else if (a[0][1] > b[0][1]) {
                            return 1;
                        } else if (a[0][2] < b[0][2]) {
                            return -1;
                        } else if (a[0][2] > b[0][2]) {
                            return 1;
                        } else {
                            return 0;
                        }

                    });

                    var chart = new google.charts.Line(document.getElementById(elementId));

                    var table = google.visualization.arrayToDataTable(columnLabels.concat(dataArray));

                    chart.draw(table, google.charts.Line.convertOptions(options));
                }

                return tmp;
            }

            function convertDates(plotData, column) {
                plotData.forEach(function (elem, i, self) {
                    elem[column] = new Date(elem[0]);
                });
            }


            // Moving stat computation to JS
            loadJSONFile("/json/sessions/jgdodson", function (data) {

                // The current time could come from the timestamp in the ResultInfo...
                if (data.status.isStudying) {
                    data.sessions.push({
                        "subject": data.status.subject,
                        "startTime": data.status.start,
                        "endTime": new Date().getTime()
                    });
                }

                console.log("STDDEV of daily total:");
                console.log(dailyStdev(splitDays(data.sessions)));

                var s1 = stats1(data.sessions, 100);
                var s2 = stats2(data.sessions);

                console.log(s1);

                writeIntroMessageJS(s1);

                // Only show the current day's overview if the user has studied today.
                if (s1.todaysSessions.length > 0) {
                    google.charts.setOnLoadCallback(getTodaysSessionsPlotDrawer(s1.todaysSessions, "todaysSessionsPlot"));
                } else {
                    document.getElementById("widt-row").style.display = "none";
                }

                google.charts.setOnLoadCallback(getCumulativePlotDrawer(s1.cumulative, "cumulativePlot"));
                google.charts.setOnLoadCallback(getSubjectTotalsPlotDrawer(s2.subjectTotals, "subjectTotalsPlot"));
                google.charts.setOnLoadCallback(getProbabilityPlotDrawer(s1.probability, "probabilityPlot"));
                google.charts.setOnLoadCallback(getSlidingAveragePlotDrawer(s1.movingAverage, "movingAveragePlot"));
            });
    </script>

}
