@()(implicit messages: Messages)

@siteTemplate("Jordan G. Dodson") {

    <!-- The body of the page. Contains all charts. -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-offset-1 col-md-10 raised-element">
                <div id="introMessage">
                    Since <span id="startDate" class="introMessageValue"></span>
                    I've spent <span id="total" class="introMessageValue"></span> hours programming!
                    That's an average of <span id="dailyAverage" class="introMessageValue"></span>
                    hours per day for <span id="daysSinceStart" class="introMessageValue"></span> days.
                    Today, I've programmed for <span id="todaysTotal" class="introMessageValue"></span> hours.
                    My longest programming streak is <span id="longestStreak" class="introMessageValue"></span>
                    days, and I'm currently on a <span id="currentStreak" class="introMessageValue"></span>
                    day streak. Scroll down for more detailed statistics.

                </div>
            </div>
        </div>

        <div style="height: 30px ;"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10 raised-element">
                <div id="todaysSessionsGooglePlot" class=""></div>
            </div>
        </div>

        <div style="height: 30px ;"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10 raised-element">
                <div id="cumulativeGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div class="plotSpacer"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10 raised-element">
                <div id="subjectTotalsGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div class="plotSpacer"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10 raised-element">
                <div id="subjectCumulativeGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div class="plotSpacer"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10 raised-element">
                <div id="averageSessionGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div class="plotSpacer"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10 raised-element">
                <div id="probabilityGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div class="plotSpacer"></div>
    </div>

    <script>
            function loadJSONFile(path, callback) {

                var httpRequest = new XMLHttpRequest();

                httpRequest.onreadystatechange = function() {
                    if (httpRequest.readyState === 4) {
                        if (httpRequest.status === 200) {

                            // Parse the response text as JSON
                            var data = JSON.parse(httpRequest.responseText);

                            if (callback) {
                                callback(data);
                            }
                        }
                    }
                };
                httpRequest.open('GET', path);
                httpRequest.send();
            }


            // Global plot properties
            var titleIsBold = true;
            var titleFontSize = 32;
            var hAxisFontSize = 20;
            var vAxisFontSize = 16;

            // Load the  charts
            google.charts.load('44', {packages: ['line', 'bar', 'timeline']});


            function writeIntroMessage(data, elementId) {

                var introElem = document.getElementById(elementId);

                <!-- Should I just do the formatting on the server? -->
                introElem.querySelector("#startDate").textContent = data.start[0].toString() + "/" + data.start[1].toString() + "/" + data.start[2].toString();
                introElem.querySelector("#total").textContent = Math.round(data.total).toString();
                introElem.querySelector("#dailyAverage").textContent = data.dailyAverage.toFixed(2).toString();
                introElem.querySelector("#daysSinceStart").textContent = data.daysSinceStart.toString();
                introElem.querySelector("#longestStreak").textContent = data.longestStreak.toString();
                introElem.querySelector("#currentStreak").textContent = data.currentStreak.toString();
                introElem.querySelector("#todaysTotal").textContent = data.todaysTotal.toFixed(2).toString();

            }


            function getTodaysSessionsGooglePlotDrawer(plotData, elementId) {

                function tmp() {
                    var table = new google.visualization.DataTable();

                    var options = {
                        height: 110,
                        hAxis: {
                            title: "",
                            fontSize: 0
                        }
                    };

                    // Add columns to the data table
                    plotData.columns.forEach(function(curr, i, arr) {
                        table.addColumn(curr[0], curr[1]);
                    });

                    // Add the rows of data to the data table
                    table.addRows(plotData.rows);

                    var chart = new google.visualization.Timeline(document.getElementById(elementId));

                    chart.draw(table, options);
                }

                return tmp;
            }

            function getCumulativeGooglePlotDrawer(plotData, elementId) {

                var options = {
                    chart: {
                        title: "Cumulative Hours Studied"
                    },
                    legend: {
                        position: 'none'
                    },
                    colors: ['green'],
                    titleTextStyle: {
                        fontSize: titleFontSize,
                        bold: titleIsBold
                    },
                    hAxis: {
                        title: "",
                        textStyle: {
                            fontSize: hAxisFontSize
                        }
                    },
                    vAxis: {
                        textStyle: {
                            fontSize: 20
                        }
                    },
                    // Not working
                    lineWidth: 10,
                    // Not working
                    curveType: 'function'
                };

                return getGoogleMaterialPlotDrawer(plotData, options, "Line", elementId);
            }

            function getSubjectCumulativeGooglePlotDrawer(plotData, elementId) {

                var options = {
                    chart: {
                        title: "Cumulative Hours Studied Per Subject"
                    },
                    titleTextStyle: {
                        fontSize: titleFontSize,
                        bold: titleIsBold
                    },
                    legend: {
                        position: 'none'
                    },
                    hAxis: {
                        title: "",
                        textStyle: {
                            fontSize: hAxisFontSize
                        }
                    },
                    vAxis: {
                        textStyle: {
                            fontSize: 20
                        }
                    },
                    // Not working
                    curveType: 'function'
                };


                return getGoogleMaterialPlotDrawer(plotData, options, "Line", elementId);
            }


            // Returns a function that will draw the SubjectTotals plot
            function getSubjectTotalsGooglePlotDrawer(plotData, elementId) {

                var options = {
                    chart: {
                        title: "Total Hours Studied Per Subject"
                    },
                    titleTextStyle: {
                        fontSize: titleFontSize,
                        bold: titleIsBold
                    },
                    legend: {
                        position: 'none'
                    },
                    hAxis: {
                        title: "",
                        textStyle: {
                            fontSize: hAxisFontSize
                        }
                    },
                    vAxis: {
                        textStyle: {
                            fontSize: 20
                        }
                    },
                    bars: 'vertical',
                    colors: ['green']
                };

                return getGoogleMaterialPlotDrawer(plotData, options, "Bar", elementId);
            }


            // Returns a function that will draw the AverageSession plot
            function getAverageSessionGooglePlotDrawer(plotData, elementId) {

                var options = {
                    chart: {
                        title: "Average Study Session Length Per Subject",
                        subtitle: "in hours"
                    },
                    titleTextStyle: {
                        fontSize: titleFontSize,
                        bold: titleIsBold
                    },
                    legend: {
                        position: 'none'
                    },
                    hAxis: {
                        title: "",
                        textStyle: {
                            fontSize: hAxisFontSize
                        },
                        // This is not working
                        slantedText: true
                        // - - - - - - - - - -
                    },
                    vAxis: {
                        textStyle: {
                            fontSize: 20
                        }
                    },
                    bars: 'vertical'
                };


                return getGoogleMaterialPlotDrawer(plotData, options, "Bar", elementId);
            }


            function getProbabilityGooglePlotDrawer(plotData, elementId) {

                var max = 0.0;

                plotData.rows.forEach(function(elem, i, self) {
                    if (elem[1] > max) {
                        max = elem[1];
                    }
                });

                var options = {
                    chart: {
                        title: "Probability That I'm Programming"
                    },
                    titleTextStyle: {
                        fontSize: titleFontSize,
                        bold: titleIsBold
                    },
                    legend: {
                        position: 'none'
                    },
                    hAxis: {
                        title: "",
                        textStyle: {
                            fontSize: hAxisFontSize
                        },
                        // The format string is based on ICU pattern set
                        format: "h a"
                    },
                    vAxis: {
                        textStyle: {
                            fontSize: 20
                        },
                        viewWindow: {
                            max: max + 0.05
                        }
                    },
                    colors: ['green']
                };

                return getGoogleMaterialPlotDrawer(plotData, options, "Line", elementId);
            }


            function getGoogleMaterialPlotDrawer(plotData, plotOptions, plotType, elementId) {

                function tmp() {
                    var table = new google.visualization.DataTable();

                    // Add columns to the data table
                    plotData.columns.forEach(function(curr, i, arr) {
                        table.addColumn(curr[0], curr[1]);
                    });

                    // Add the rows of data to the data table
                    table.addRows(plotData.rows);

                    var chart = new google.charts[plotType](document.getElementById(elementId));

                    var convertedOptions = google.charts[plotType].convertOptions(plotOptions)

                    chart.draw(table, convertedOptions);
                }

                return tmp;
            }

            function convertDates(plotData) {
                plotData.rows.forEach(function(elem, i, self) {
                    elem[0] = new Date(elem[0]);
                });
            }

            // Load the chart data and setup callbacks to plot when we have it.
            loadJSONFile("/stats/1", function(data) {

                // TODO: Debug
                console.log(data);

                var stats = data.stats;

                writeIntroMessage(stats.introMessage, "introMessage");

                var cumulativeGoogleData = stats.cumulativeGoogle;
                var rawSubjectCumulativeGoogleData = stats.subjectCumulativeGoogle;


                convertDates(cumulativeGoogleData);
                convertDates(rawSubjectCumulativeGoogleData);

                // Set up call-backs to draw the plots
                if (stats.introMessage.todaysSessionsGoogle.rows.length > 0) {
                    google.charts.setOnLoadCallback(getTodaysSessionsGooglePlotDrawer(stats.introMessage.todaysSessionsGoogle, "todaysSessionsGooglePlot"));
                }

                google.charts.setOnLoadCallback(getCumulativeGooglePlotDrawer(stats.cumulativeGoogle, "cumulativeGooglePlot"));
                google.charts.setOnLoadCallback(getSubjectCumulativeGooglePlotDrawer(rawSubjectCumulativeGoogleData, "subjectCumulativeGooglePlot"));
                google.charts.setOnLoadCallback(getSubjectTotalsGooglePlotDrawer(stats.subjectTotalsGoogle, "subjectTotalsGooglePlot"));
                google.charts.setOnLoadCallback(getAverageSessionGooglePlotDrawer(stats.averageSessionGoogle, "averageSessionGooglePlot"));
                google.charts.setOnLoadCallback(getProbabilityGooglePlotDrawer(stats.probabilityGoogle, "probabilityGooglePlot"));

            })
    </script>

}
