@()(implicit messages: Messages)

@mainGoogle("Jordan G. Dodson") {

        <!-- The body of the page. Contains all charts. -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="introMessage">
                    Since <span id="startDate" class="introMessageValue"></span>
                    I've spent <span id="total" class="introMessageValue"></span> hours programming!
                    That's an average of <span id="dailyAverage" class="introMessageValue"></span>
                    hours per day for <span id="daysSinceStart" class="introMessageValue"></span> days.
                    Today, I've programmed for <span id="todaysTotal" class="introMessageValue"></span> hours.
                    My longest programming streak is <span id="longestStreak" class="introMessageValue"></span>
                    days, and I'm currently on a <span id="currentStreak" class="introMessageValue"></span>
                    day streak. Scroll down for more detailed statistics.
                    <hr>
                </div>
            </div>
        </div>

        <div style="height: 30px ;"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="todaysSessionsGooglePlot" class=""></div>
                <hr>
            </div>
        </div>

        <div style="height: 30px ;"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="cumulativeGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div class="plotSpacer"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="subjectTotalsGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div class="plotSpacer"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="subjectCumulativeGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div class="plotSpacer"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="averageSessionGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div class="plotSpacer"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="probabilityGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div class="plotSpacer"></div>
    </div>

}
