@()(implicit messages: Messages)

    @main("Welcome to Play") {

        <!--The chart element-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <canvas id="cumulativePlot" height="400"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <canvas id="subjectTotalsPlot" height="400"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <canvas id="averageSessionPlot" height="400"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <canvas id="perSubjectCumulative" height="400"></canvas>
                </div>
            </div>
        </div>

    }
