@()(implicit messages: Messages)

@mainGoogle("Jordan G. Dodson") {

    <!-- Navbar -->
    <nav class="navbar navbar-inverse" style="border-radius: 0em ;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand">Jordan G. Dodson</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
        </div>
    </nav>

        <!--The chart element-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="introMessage">
                    Since <span id="startDate" class="introMessageValue"></span>
                    I've spent <span id="total" class="introMessageValue"></span> hours programming!
                    That's an average of <span id="dailyAverage" class="introMessageValue"></span>
                    hours per day for <span id="daysSinceStart" class="introMessageValue"></span> days.
                    My longest programming streak is <span id="longestStreak" class="introMessageValue"></span>
                    days, and I'm currently on a <span id="currentStreak" class="introMessageValue"></span>
                    day streak. Scroll down to see more detailed statistics.

                    <hr>
                </div>
            </div>
        </div>

        <div style="height: 50px ;"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="todaysSessionsGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div style="height: 100px ;"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="cumulativeGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div style="height: 100px ;"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="subjectTotalsGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div style="height: 100px ;"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="subjectCumulativeGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div style="height: 100px ;"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="averageSessionGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div style="height: 100px ;"></div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="probabilityGooglePlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div style="height: 100px ;"></div>
    </div>

}
