@(username: String)(implicit messages: Messages)

@loggedInTemplate("Journal") {
    <link href="@routes.Assets.at("stylesheets/journal.css")" rel="stylesheet" type="text/css">
} {

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

                <div class="raised-element text-justify partialBorder centerTextContent">
                    <form id="journal-entry-form">
                        <div class="form-group">
                            <label class="sr-only" for="journal-entry-input">Journal</label>
                            <textarea name="text" class="form-control" id="journal-entry-input" form="journal-entry-form" placeholder="Dear Journal..." autocomplete="off" required></textarea>
                        </div>

                        <button type="submit" id="journal-entry-input-button" class="transparentButton"><i class="fa fa-paper-plane-o fa-lg"></i></button>
                    </form>
                </div>

                <div id='dashboard-map'></div>

                <div id="past-journal-entries">

                </div>
            </div>
        </div>
    </div>


        <!-- Moment JS -->
    <script src="@routes.Assets.at("/javascripts/moment.js")"></script>
    <script src="@routes.Assets.at("/javascripts/moment-timezone-10-20.js")"></script>

    <script src="@routes.Assets.at("/javascripts/JournalEntryList.js")"></script>
    <script src="@routes.Assets.at("/javascripts/FormHandlers.js")"></script>

        <!-- Mapbox -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />

    <script>
            'use strict';

            let w = $(window);
            let f = $("#journal-entry-form");
            let j = $("#journal-entry-input");

            // Expand journal input when focused on
            f.focusin(function (event) {

                j.height(w.height() - 200);

            });

            // Shrink journal input when focused on
            f.focusout(function (event) {

                j.height(100);

            });


            let entryList;
            let map;


            function toGeoJson(entries) {

                return entries.map((entry) => {

                    return {
                        type: "Feature",
                        properties: {
                            timestamp: entry.timestamp,
                            text: entry.text,
                            username: entry.username,
                            id: entry._id.$oid,
                            "public": entry.public,
                            sentiment: entry.sentiment,
                            inferredSubjects: entry.inferredSubjects
                        },
                        geometry: entry.pos
                    };
                })

            }

            function pageSetup(responseData, textResponse, jqXHR) {

                console.log(responseData);

                // TODO: Convert to GeoJson
                let featureList = toGeoJson(responseData.payload);

                entryList = new JournalEntryList("past-journal-entries", featureList, (resultSet) => {

                            map.getSource('journals').setData({
                                "type": "FeatureCollection",
                                "features": resultSet
                            });

                        }
                );


                // Get current position, then initialize map
                navigator.geolocation.getCurrentPosition((position) => {
                    mapboxgl.accessToken = 'pk.eyJ1Ijoic2VudGllbnRzYWlsb3IiLCJhIjoiY2o5MjQ0dGhqM2V1cjJ3cDZwbjB2YWtlaSJ9.H7_wVqAUVOu8bJYmwc1rtg';
                    map = new mapboxgl.Map({
                        container: 'dashboard-map',
                        style: 'mapbox://styles/mapbox/light-v9',
                        zoom: 13,
                        center: [position.coords.longitude, position.coords.latitude]
                    });


                    map.on('load', () => {

                        // Journal Entry Data Source
                        map.addSource("journals", {
                            type: 'geojson',
                            data: {
                                "type": "FeatureCollection",
                                "features": featureList
                            }
                        });

                        map.addLayer({
                            'id': 'journals',
                            'type': 'circle',
                            'source': 'journals',
                            'paint': {
                                "circle-color": [
                                    "rgb", ["*", 255, ["-", 1, ["to-number", ["get", "sentiment"]]]],
                                    ["*", 255, ["get", "sentiment"]],
                                    0
                                ],
                                'circle-radius': {
                                    'base': 10,
                                    'stops': [
                                        [12, 5],
                                        [20, 4]
                                    ]
                                },
                                'circle-opacity': 0.75
                            }
                        });


                        // Display journal text when circles are clicked
                        map.on('click', 'journals', function (e) {
                            new mapboxgl.Popup()
                                    .setLngLat(e.features[0].geometry.coordinates)
                                    .setHTML(e.features[0].properties.text)
                                    .addTo(map);
                        });


                        // Change the cursor to a pointer when the mouse is over the places layer.
                        map.on('mouseenter', 'journals', function () {
                            map.getCanvas().style.cursor = 'pointer';
                        });

                        // Change it back to a pointer when it leaves.
                        map.on('mouseleave', 'journals', function () {
                            map.getCanvas().style.cursor = '';
                        });

                    });


                }, (err) => {
                    // Error handling
                    console.log(err);
                }, {
                    "maximumAge": 10 * 1000
                })
            }

            // Set up handlers and load journal entries
            $(function () {

                // Set up the handler for journal entry submission
                submitWithGeo("#journal-entry-form", "@routes.JournalEntries.addJournalEntry()",
                        (responseData, formData, formElem) => {

                            // DEBUGGING
                            console.log(responseData);

                            // Clear the form after submission
                            document.getElementById('journal-entry-form').reset();

                            entryList.add(responseData.payload);
                            entryList.display();
                        }
                );

                $.ajax({
                    type: "get",
                    url: "@controllers.routes.JournalEntries.getJournalEntries()",
                    dataType: "json",
                    success: pageSetup
                });
            });
    </script>
}