@(username: String)(implicit messages: Messages)

@loggedInTemplate("Journal") {
    <link href="@routes.Assets.at("stylesheets/journal.css")" rel="stylesheet" type="text/css">
} {

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="raised-element text-justify partial-border center-text-content">
                    <form id="journal-entry-form">
                        <div class="form-group">
                            <label class="sr-only" for="journal-entry-input">Journal</label>
                            <textarea name="text" class="form-control" id="journal-entry-input" form="journal-entry-form" placeholder="Dear Journal..." autocomplete="off" required></textarea>
                        </div>

                        <button type="submit" id="journal-entry-input-button" class="transparent-button"><i class="fa fa-paper-plane-o fa-2x"></i></button>
                    </form>
                </div>

                <div id='dashboard-map'></div>

                <div id="past-journal-entries">

                </div>
            </div>
        </div>
    </div>


        <!-- Moment JS -->
    <script src="@routes.Assets.at("/javascripts/moment.js")"></script>
    <script src="@routes.Assets.at("/javascripts/moment-timezone-10-20.js")"></script>

    <script src="@routes.Assets.at("/javascripts/JournalEntryList.js")"></script>
    <script src="@routes.Assets.at("/javascripts/FormHandlers.js")"></script>

        <!-- Mapbox -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />

    <script>
            'use strict';

            let entryList;
            let map;

            // Set up handlers and load journal entries
            $(function () {

                // Set up the handler for journal entry submission
                submitWithGeo("#journal-entry-form", "@routes.JournalEntries.addJournalEntry()",
                        (responseData, formData, formElem) => {

                            // DEBUGGING
                            console.log(responseData);

                            // Clear the form after submission
                            document.getElementById('journal-entry-form').reset();

                            // Add the new entry to the list
                            let journalEntry = {
                                'type': 'Feature',
                                'properties': {},

                            };

                            journalEntry['properties']['timestamp'] = responseData['timestamp'];
                            journalEntry['properties']['inferredSubjects'] = [];

                            // Add proper form fields
                            formData.forEach((field) => {

                                if (field['name'] === 'pos') {
                                    journalEntry['geometry'] = field['value'];
                                } else {
                                    journalEntry['properties'][field['name']] = field['value'];
                                }

                            });

                            entryList.add(responseData.payload);
                        }
                );

                $.ajax({
                    type: "get",
                    url: "@controllers.routes.JournalEntries.getGeoJsonEntries()",
                    dataType: "json",
                    success: function (responseData, textResponse, jqXHR) {

                        console.log(responseData);

                        entryList = new JournalEntryList("past-journal-entries", responseData['features'], (resultSet) => {

                                    map.getSource('journals').setData({
                                        "type": "FeatureCollection",
                                        "features": resultSet
                                    });

                                }
                        );
                    }
                });
            });
    </script>

    <script>

            //let map;

            // Get current position, then initialize map
            navigator.geolocation.getCurrentPosition((position) => {
                mapboxgl.accessToken = 'pk.eyJ1Ijoic2VudGllbnRzYWlsb3IiLCJhIjoiY2o5MjQ0dGhqM2V1cjJ3cDZwbjB2YWtlaSJ9.H7_wVqAUVOu8bJYmwc1rtg';
                map = new mapboxgl.Map({
                    container: 'dashboard-map',
                    style: 'mapbox://styles/mapbox/light-v9',
                    zoom: 13,
                    center: [position.coords.longitude, position.coords.latitude]
                });


                map.on('load', () => {

                    // Journal Entry Data Source
                    map.addSource("journals", {
                        type: 'geojson',
                        data: '/json/geoJsonJournal'
                    });

                    map.addLayer({
                        'id': 'journals',
                        'type': 'circle',
                        'source': 'journals',
                        'paint': {
                            "circle-color": [
                                "rgb", ["*", 255, ["-", 1, ["to-number", ["get", "sentiment"]]]],
                                ["*", 255, ["get", "sentiment"]],
                                0
                            ],
                            'circle-radius': {
                                'base': 10,
                                'stops': [
                                    [12, 5],
                                    [20, 4]
                                ]
                            },
                            'circle-opacity': 0.75
                        }
                    });

                    /*

                    // Sentiment heatmap layer
                    map.addLayer({
                        "id": "sentiment-heat",
                        "type": "heatmap",
                        "source": "journals",
                        "maxzoom": 16,
                        "paint": {
                            //Increase the heatmap weight based on frequency and property magnitude
                            "heatmap-weight": {
                                "property": "sentiment",
                                "type": "exponential",
                                "stops": [
                                    [0, 1],
                                    [6, 2]
                                ]
                            },
                            //Increase the heatmap color weight weight by zoom level
                            //heatmap-ntensity is a multiplier on top of heatmap-weight
                            "heatmap-intensity": {
                                "stops": [
                                    [0, 2],
                                    [9, 3]
                                ]
                            },
                            //Color ramp for heatmap.  Domain is 0 (low) to 1 (high).
                            //Begin color ramp at 0-stop with a 0-transparancy color
                            //to create a blur-like effect.
                            "heatmap-color": {
                                "stops": [
                                    [0, "rgb(172,48,28)"],
                                    [1, "rgb(24,178,43)"]
                                ]
                            },
                            //Adjust the heatmap radius by zoom level
                            "heatmap-radius": {
                                "stops": [
                                    [0, 5],
                                    [9, 20]
                                ]
                            },
                        }
                    }, 'waterway-label');


                    */

                    // Display journal text when circles are clicked
                    map.on('click', 'journals', function (e) {
                        new mapboxgl.Popup()
                                .setLngLat(e.features[0].geometry.coordinates)
                                .setHTML(e.features[0].properties.text)
                                .addTo(map);
                    });

                    // Change the cursor to a pointer when the mouse is over the places layer.
                    map.on('mouseenter', 'journals', function () {
                        map.getCanvas().style.cursor = 'pointer';
                    });

                    // Change it back to a pointer when it leaves.
                    map.on('mouseleave', 'journals', function () {
                        map.getCanvas().style.cursor = '';
                    });

                });


            }, (err) => {
                // Error handling
                console.log(err);
            }, {
                "maximumAge": 10 * 1000
            })


    </script>
}