@(username: String)

@loggedInTemplate("JournalReact")(username) {

    <link href="@routes.Assets.at("src/css/journal-react.css")" rel="stylesheet" type="text/css">

    <script src="@routes.Assets.at("src/js/FormHandlers.js")"></script>

        <!-- Moment JS -->
    <script src="@routes.Assets.at("lib/js/moment.js")"></script>
    <script src="@routes.Assets.at("lib/js/moment-timezone-10-20.js")"></script>
} {

    <div id="JournalApp"></div>

    <script type="text/javascript" src="@routes.Assets.at("target/JournalBundle.js")"></script>

}