@*******************8
Links to profiles on other sites.
*******************@
@()(implicit messages: Messages)

@siteTemplate("My Profiles On Other Sites") {

    <div class="container-fluid">
        <div class="row profile-link-row">

                <!-- Link to my Github profile.-->
            <div class="col-md-2 col-md-offset-2 raised-element profile-link">
                <a id="github-link" href="#" title="Github Profile" target="_blank">
                    <span class="fa fa-github" aria-hidden="true"></span>
                </a>
            </div>

                <!-- Link to my Twitter profile.-->
            <div class="col-md-2 col-md-offset-1 raised-element profile-link">
                <a id="twitter-link" href="#" title="Twitter Profile" target="_blank">
                    <span class="fa fa-twitter" aria-hidden="true"></span>
                </a>
            </div>

                <!-- Link to my LinkedIn profile.-->
            <div class="col-md-2 col-md-offset-1 raised-element profile-link">
                <a id="linkedin-link" href="#" title="LinkedIn Profile" target="_blank">
                    <span class="fa fa-linkedin" aria-hidden="true"></span>
                </a>
            </div>
        </div>

        <div class="row profile-link-row">

                <!-- Link to my Stack Exchange profile.-->
            <div class="col-md-2 col-md-offset-2 raised-element profile-link">
                <a id="stackexchange-link" href="#" title="StackExchange Profile" target="_blank">
                    <span class="fa fa-stack-exchange" aria-hidden="true"></span>
                </a>
            </div>

                <!-- Link to my Google Plus profile.-->
            <div class="col-md-2 col-md-offset-1 raised-element profile-link">
                <a id="googleplus-link" href="#" title="Google+ Profile" target="_blank">
                    <span class="fa fa-google-plus-circle" aria-hidden="true"></span>
                </a>
            </div>

                <!-- Link to my Hackernews profile.-->
            <div class="col-md-2 col-md-offset-1 raised-element profile-link">
                <a id="ycombinator-link" href="#" title="HackerNews Profile" target="_blank">
                    <span class="fa fa-y-combinator-square" aria-hidden="true"></span>
                </a>
            </div>
        </div>

        <div class="row profile-link-row">

                <!-- Link to my Goodreads profile.-->
            <div class="col-md-2 col-md-offset-2 raised-element profile-link">
                <a id="goodreads-link" href="#" title="Goodreads Profile" target="_blank">
                    <span class="fa fa-book" aria-hidden="true"></span>
                </a>
            </div>

                <!-- Link to my Codewars profile.-->
            <div class="col-md-2 col-md-offset-1 raised-element profile-link">
                <a id="codewars-link" href="#" title="Codewars Profile" target="_blank">
                    <span class="fa fa-code" aria-hidden="true"></span>
                </a>
            </div>

                <!-- Link to my Codewars profile.-->
            <div class="col-md-2 col-md-offset-1 raised-element profile-link">
                <a id="codecamp-link" href="#" title="Codecamp Profile" target="_blank">
                    <span class="fa fa-free-code-camp" aria-hidden="true"></span>
                </a>
            </div>
        </div>

        <div class="row profile-link-row">

                <!-- Link to my Quora profile.-->
            <div class="col-md-2 col-md-offset-2 raised-element profile-link">
                <a id="quora-link" href="#" title="Quora Profile" target="_blank">
                    <span class="fa fa-quora" aria-hidden="true"></span>
                </a>
            </div>

                <!-- Link to my Pinterest profile.-->
            <div class="col-md-2 col-md-offset-1 raised-element profile-link">
                <a id="pinterest-link" href="#" title="Pinterest Profile" target="_blank">
                    <span class="fa fa-pinterest" aria-hidden="true"></span>
                </a>
            </div>

                <!-- Link to my Facebook profile.-->
            <div class="col-md-2 col-md-offset-1 raised-element profile-link">
                <a id="facebook-link" href="#" title="Facebook Profile" target="_blank">
                    <span class="fa fa-facebook-square" aria-hidden="true"></span>
                </a>
            </div>

        </div>

        <div class="row profile-link-row">

                <!-- Link to my Codecademy profile.-->
            <div class="col-md-2 col-md-offset-2 raised-element profile-link">
                <a id="codecademy-link" href="#" title="Codecademy Profile" target="_blank">
                    <span class="fa fa-cube" aria-hidden="true"></span>
                </a>
            </div>

                <!-- Link to my Coursera profile.-->
            <div class="col-md-2 col-md-offset-1 raised-element profile-link">
                <a id="coursera-link" href="#" title="Coursera Profile" target="_blank">
                    <span class="fa fa-coffee" aria-hidden="true"></span>
                </a>
            </div>
        </div>


        <script src="@routes.Assets.at("/javascripts/loadJSON.js")"></script>
        <script>

                loadJSONFile("/json/profiles/jgdodson", function (profiles) {


                    // TODO: Display only those links that the user actually has
                    for (var key in profiles) {
                        if (profiles.hasOwnProperty(key)) {
                            document.getElementById(key + "-link").setAttribute("href", profiles[key]);
                        }
                    }

                });

        </script>

    </div>
}