@()(implicit messages: Messages)

@siteTemplate("Links") {

    <div class="container-fluid">
        <div class="row profile-link-row">

                <!-- Link to my Github profile.-->
            <div class="col-md-2 col-md-offset-2 raised-element profile-link">
                <a id="github-link" href="https://www.github.com/pilgrimshadow" title="Github Profile">
                    <span class="fa fa-5x fa-github" aria-hidden="true"></span>
                </a>
            </div>

                <!-- Link to my Twitter profile.-->
            <div class="col-md-2 col-md-offset-1 raised-element profile-link">
                <a id="twitter-link" href="https://www.twitter.com/jgdodson_" title="Twitter Profile">
                    <span class="fa fa-5x fa-twitter" aria-hidden="true"></span>
                </a>
            </div>

                <!-- Link to my LinkedIn profile.-->
            <div class="col-md-2 col-md-offset-1 raised-element profile-link">
                <a id="linkedin-link" href="https://www.linkedin.com/in/jgdodson" title="LinkedIn Profile">
                    <span class="fa fa-5x fa-linkedin" aria-hidden="true"></span>
                </a>
            </div>
        </div>

        <div class="row profile-link-row">

                <!-- Link to my Stack Exchange profile.-->
            <div class="col-md-2 col-md-offset-2 raised-element profile-link">
                <a id="stackexchange-link" href="http://www.stackexchange.com/users/3733943/pilgrimshadow" title="StackExchange Profile">
                    <span class="fa fa-5x fa-stack-exchange" aria-hidden="true"></span>
                </a>
            </div>

                <!-- Link to my Google Plus profile.-->
            <div class="col-md-2 col-md-offset-1 raised-element profile-link">
                <a id="googleplus-link" href="https://plus.google.com/u/0/102056157755029758599" title="Google+ Profile">
                    <span class="fa fa-5x fa-google-plus-square" aria-hidden="true"></span>
                </a>
            </div>

                <!-- Link to my Hackernews profile.-->
            <div class="col-md-2 col-md-offset-1 raised-element profile-link">
                <a id="hackernews-link" href="https://news.ycombinator.com/user?id=jgdodson" title="HackerNews Profile">
                    <span class="fa fa-5x fa-y-combinator-square" aria-hidden="true"></span>
                </a>
            </div>
        </div>

        <div class="row profile-link-row">

                <!-- Link to my Goodreads profile.-->
            <div class="col-md-2 col-md-offset-2 raised-element profile-link">
                <a id="goodreads-link" href="http://www.goodreads.com/PilgrimShadow" title="Goodreads Profile">
                    <span class="fa fa-5x fa-book" aria-hidden="true"></span>
                </a>
            </div>

                <!-- Link to my Codewars profile.-->
            <div class="col-md-2 col-md-offset-1 raised-element profile-link">
                <a id="codewars-link" href="http://www.codewars.com/users/PilgrimShadow" title="Codewars Profile">
                    <span class="fa fa-5x fa-code" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
}