@(username: String)(implicit messages: Messages)

@loggedInTemplate("Home") {

    <script src="@routes.Assets.at("javascripts/StudyClock.js")"></script>

    <p>Welcome to Study Lab, @username</p>

    <div id="study-control" class="padded-border">
        <div id="study-clock"></div>

        <div>
            <form id="study-start-form" class="study-control-form" hidden>
                <input id="study-start-username-input" name="username" value="@username" type="text" required hidden>

                <div class="form-group">
                    <input id="study-start-subject-input" class="study-control-input" name="subject" placeholder="Subject" type="text">
                </div>

                <button type="submit" id="study-start-button" class="btn btn-default study-control-button">start</button>
            </form>

            <form id="study-stop-form" class="study-control-form" hidden>
                <input id="study-stop-username-input" name="username" value="@username" type="text" hidden>

                <div class="form-group">
                    <input id="study-stop-message-input" class="study-control-input" name="message" placeholder="Message" type="text">
                </div>

                <button type="submit" id="study-stop-button" class="btn btn-default study-control-button">stop</button>
            </form>

            <form id="study-cancel-form" class="study-control-form" hidden>
                <input id="study-cancel-username-input" class="study-control-input" name="username" value="@username" type="text" required hidden>

                <button type="submit" class="btn btn-default study-control-button">cancel</button>
            </form>

            <form id="add-subject-form" class="study-control-form">
                <input id="add-subject-username-input" name="username" value="@username" type="text" required hidden>

                <div class="form-group">
                    <input id="add-subject-subject-input" class="study-control-input" name="subject" placeholder="New Subject" type="text">
                </div>

                <div class="form-group">
                    <input id="add-subject-description-input" class="study-control-input" name="description" placeholder="Description" type="text">
                </div>

                <button type="submit" class="btn btn-default study-control-button">add</button>
            </form>

        </div>
    </div>

    <script>

            let stopwatch = new Stopwatch("study-clock");

            // Initialize the page according to the user's status
            jQuery.ajax({
                url: "@routes.Sessions.userStatus(username)",
                type: "get",
                dataType: "json",
                success: function (data, textStatus, response) {

                    console.log(response.responseText);

                    console.log(data);

                    if (data['payload']['isStudying']) {

                        // Start the stopwatch
                        stopwatch.startFrom(data['payload']['start']);

                        // Unhide the stop and cancel forms
                        $("#study-stop-form").removeAttr("hidden");
                        $("#study-cancel-form").removeAttr("hidden");
                    } else {

                        stopwatch.displayZero();

                        // Unhide the start form
                        $("#study-start-form").removeAttr("hidden");
                    }
                }
            })

    </script>

    <script>
            $(function () {
                $("#study-start-form").on("submit", function (e) {

                    // TODO: prevent fields from clearing

                    e.preventDefault();

                    $.ajax({
                        type: "post",
                        url: "@controllers.routes.Sessions.startSession()",
                        data: $("#study-start-form").serialize(),
                        dataType: "json",
                        complete: function (request, textStatus) {

                            if (request.status === 200) {

                                console.log(request.responseText);

                                // Parse the response text as JSON
                                let data = JSON.parse(request.responseText);
                                console.log(data);

                                if (data['success'] === true) {

                                    // TODO: Return the session start time in the payload

                                    // Start the stopwatch
                                    stopwatch.start();

                                    // Unhide the stop and cancel forms
                                    $("#study-stop-form").removeAttr("hidden");
                                    $("#study-cancel-form").removeAttr("hidden");

                                    // Hide and clear the start form
                                    $("#study-start-form").attr("hidden", true);
                                    $("#study-start-subject-input").val("");
                                } else {

                                }
                            }
                        }
                    });
                });
            });


            $(function () {
                $("#study-stop-form").on("submit", function (e) {

                    // TODO: prevent fields from clearing

                    e.preventDefault();

                    $.ajax({
                        type: "post",
                        url: "@controllers.routes.Sessions.stopSession()",
                        data: $("#study-stop-form").serialize(),
                        dataType: "json",
                        complete: function (request, textStatus) {

                            if (request.status === 200) {

                                console.log(request.responseText);

                                // Parse the response text as JSON
                                let data = JSON.parse(request.responseText);

                                console.log(data);

                                if (data['success'] === true) {

                                    $("#study-stop-message-input").val("");

                                    // Reset the clock
                                    stopwatch.reset();

                                    $("#study-start-form").removeAttr("hidden");
                                    $("#study-stop-form").attr("hidden", true);
                                    $("#study-cancel-form").attr("hidden", true);
                                } else {

                                }
                            }
                        }
                    });
                });
            });


            $(function () {
                $("#study-cancel-form").on("submit", function (e) {

                    // TODO: prevent fields from clearing

                    e.preventDefault();

                    $.ajax({
                        type: "post",
                        url: "@controllers.routes.Sessions.cancelSession()",
                        data: $("#study-cancel-form").serialize(),
                        dataType: "json",
                        complete: function (request, textStatus) {

                            if (request.status === 200) {

                                console.log(request.responseText);

                                // Parse the response text as JSON
                                let data = JSON.parse(request.responseText);

                                if (data['success'] === true) {
                                    console.log(data);
                                    $("#study-stop-message-input").val("");

                                    // Reset the clock
                                    stopwatch.reset();

                                    $("#study-start-form").removeAttr("hidden");
                                    $("#study-stop-form").attr("hidden", true);
                                    $("#study-cancel-form").attr("hidden", true);
                                } else {

                                }
                            }
                        }
                    });
                });
            });


            $(function () {
                $("#add-subject-form").on("submit", function (e) {

                    // TODO: prevent fields from clearing

                    e.preventDefault();

                    $.ajax({
                        type: "post",
                        url: "@controllers.routes.Sessions.addSubject()",
                        data: $("#add-subject-form").serialize(),
                        dataType: "json",
                        complete: function (request, textStatus) {

                            if (request.status === 200) {

                                console.log(request.responseText);

                                // Parse the response text as JSON
                                let data = JSON.parse(request.responseText);

                                if (data['success'] === true) {
                                    console.log(data);
                                    // Clear the form inputs
                                    $("#add-subject-subject-input").val("");
                                    $("#add-subject-description-input").val("");
                                } else {
                                    // Handle errors: subject already added, etc.
                                }
                            }
                        }
                    });
                });
            });

    </script>
}