@(pageTitle: String)(headContent: Html)(bodyContent: Html)


    @siteCore(pageTitle)(headContent) {

        <ul id="studylab-menu" class="nav navbar-nav navbar-right collapse navbar-collapse">
            <li id="menu-todo"><a href="@routes.Application.todo()">Todo</a></li>
            <li id="menu-journal"><a href="@routes.Application.journal()">Journal</a></li>
            <li id="menu-settings"><a href="@routes.Application.settings()">Settings</a></li>
            <li id="menu-logout">
                <a href="#" onclick="document.getElementById('menu-logout-form').submit()">Logout</a>
                <form id="menu-logout-form" class="" action="@routes.Application.logout()" method="post" hidden></form>
            </li>
        </ul>
    } {
        @bodyContent
    }
