@()(implicit messages: Messages)

@siteTemplate("Login") {

    <form action="@routes.Users.login()" method="post" id="login-form" class="entry-form">

        <div class="form-group">
            <label for="login-username-input">Username</label>
            <input name="username" type="text" class="form-control" id="login-username-input" placeholder="Username">
        </div>

        <div class="form-group">
            <label for="login-password-input">Password</label>
            <input name="password" type="password" class="form-control" id="login-password-input" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-default">Login</button>
    </form>

}