@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

            <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

            <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

            <!-- D3 -->
        <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

            <!-- Google charts loader -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
    <body>
            <!-- The content of the page. -->
        @content

        <script>

                var titleIsBold = true;
                var titleFontSize = 32;
                var hAxisFontSize = 16;
                var vAxisFontSize = 16;

                // Load the material line chart
                google.charts.load('44', {packages: ['line', 'bar', 'timeline']});

                function writeIntroMessage(data, elementId) {

                    var introElem = document.getElementById(elementId);

                    <!-- Should I just do the formatting on the server? -->
                    introElem.querySelector("#startDate").textContent = data.start[0].toString() + "/" + data.start[1].toString() + "/" + data.start[2].toString();
                    introElem.querySelector("#total").textContent = Math.floor(data.total).toString();
                    introElem.querySelector("#dailyAverage").textContent = data.dailyAverage.toFixed(2).toString();
                    introElem.querySelector("#daysSinceStart").textContent = data.daysSinceStart.toString();
                    introElem.querySelector("#longestStreak").textContent = data.longestStreak.toString();
                    introElem.querySelector("#currentStreak").textContent = data.currentStreak.toString();

                }


                function getTodaysSessionsGooglePlotDrawer(plotData, elementId) {

                    function tmp() {
                        var table = new google.visualization.DataTable();

                        var options = {
                            height: 125
                        };

                        // Add columns to the data table
                        plotData.columns.forEach(function(curr, i, arr) {
                            table.addColumn(curr[0], curr[1]);
                        });

                        // Add the rows of data to the data table
                        table.addRows(plotData.rows);

                        var chart = new google.visualization.Timeline(document.getElementById(elementId));

                        chart.draw(table, options);
                    }

                    return tmp;
                }

                function getCumulativeGooglePlotDrawer(data, id) {

                    function tmp() {

                        var table = new google.visualization.DataTable();

                        var options = {
                            chart: {
                                title: "Cumulative Hours Studied"
                            },
                            legend: {
                                position: 'none'
                            },
                            colors: ['green'],
                            titleTextStyle: {
                                fontSize: titleFontSize,
                                bold: titleIsBold
                            },
                            hAxis: {
                                title: "",
                                textStyle: {
                                    fontSize: hAxisFontSize
                                }
                            },
                            vAxis: {
                                textStyle: {
                                    fontSize: 20
                                }
                            },
                            lineWidth: 10
                        };


                        // Add columns to the data table
                        data.columns.forEach(function(curr, i, arr) {
                            table.addColumn(curr[0], curr[1]);
                        });

                        // Add the rows of data to the data table
                        table.addRows(data.rows);

                        var chart = new google.charts.Line(document.getElementById(id));

                        chart.draw(table, google.charts.Line.convertOptions(options));
                    }

                    return tmp;
                }

                function getSubjectCumulativeGooglePlotDrawer(plotData, elementId) {

                    function tmp() {
                        var table = new google.visualization.DataTable();

                        var options = {
                            chart: {
                                title: "Cumulative Hours Studied Per Subject"
                            },
                            titleTextStyle: {
                                fontSize: titleFontSize,
                                bold: titleIsBold
                            },
                            legend: {
                                position: 'none'
                            },
                            hAxis: {
                                title: "",
                                textStyle: {
                                    fontSize: hAxisFontSize
                                }
                            },
                            vAxis: {
                                textStyle: {
                                    fontSize: 20
                                }
                            }
                        };

                        // Add columns to the data table
                        plotData.columns.forEach(function(curr, i, arr) {
                            table.addColumn(curr[0], curr[1]);
                        });

                        // Add the rows of data to the data table
                        table.addRows(plotData.rows);

                        var chart = new google.charts.Line(document.getElementById(elementId));

                        chart.draw(table, google.charts.Line.convertOptions(options));
                    }

                    return tmp;
                }

                // Returns a function that will draw the SubjectTotals plot
                function getSubjectTotalsGooglePlotDrawer(plotData, elementId) {

                    function tmp() {
                        var table = new google.visualization.DataTable();

                        var options = {
                            chart: {
                                title: "Total Hours Studied Per Subject"
                            },
                            titleTextStyle: {
                                fontSize: titleFontSize,
                                bold: titleIsBold
                            },
                            legend: {
                                position: 'none'
                            },
                            hAxis: {
                                title: "",
                                textStyle: {
                                    fontSize: hAxisFontSize
                                }
                            },
                            vAxis: {
                                textStyle: {
                                    fontSize: 20
                                }
                            },
                            bars: 'vertical',
                            colors: ['green']
                        };


                        // Add columns to the data table
                        plotData.columns.forEach(function(curr, i, arr) {
                            table.addColumn(curr[0], curr[1]);
                        });

                        // Add the rows of data to the data table
                        table.addRows(plotData.rows);


                        var chart = new google.charts.Bar(document.getElementById(elementId));

                        chart.draw(table, google.charts.Bar.convertOptions(options));
                    }

                    return tmp;
                }

                // Returns a function that will draw the AverageSession plot
                function getAverageSessionGooglePlotDrawer(plotData, elementId) {

                    function tmp() {
                        var table = new google.visualization.DataTable();

                        var options = {
                            chart: {
                                title: "Average Study Session Length Per Subject"
                            },
                            titleTextStyle: {
                                fontSize: titleFontSize,
                                bold: titleIsBold
                            },
                            legend: {
                                position: 'none'
                            },
                            hAxis: {
                                title: "",
                                textStyle: {
                                    fontSize: hAxisFontSize
                                },
                                // This is not working
                                slantedText: true,
                                slantedTextAngle: 72
                                // - - - - - - - - - -
                            },
                            vAxis: {
                                textStyle: {
                                    fontSize: 20
                                }
                            },
                            bars: 'vertical'
                        };


                        // Add columns to the data table
                        plotData.columns.forEach(function(curr, i, arr) {
                            table.addColumn(curr[0], curr[1]);
                        });

                        // Add the rows of data to the data table
                        table.addRows(plotData.rows);

                        var chart = new google.charts.Bar(document.getElementById(elementId));

                        chart.draw(table, google.charts.Bar.convertOptions(options));
                    }

                    return tmp;
                }

                function getProbabilityGooglePlotDrawer(plotData, elementId) {

                    function tmp() {
                        var table = new google.visualization.DataTable();

                        var options = {
                            chart: {
                                title: "Probability That I'm Programming"
                            },
                            titleTextStyle: {
                                fontSize: titleFontSize,
                                bold: titleIsBold
                            },
                            legend: {
                                position: 'none'
                            },
                            hAxis: {
                                title: "",
                                textStyle: {
                                    fontSize: hAxisFontSize
                                },
                                // The format string is based on ICU pattern set
                                format: "h a",

                                minValue: 0
                            },
                            vAxis: {
                                textStyle: {
                                    fontSize: 20
                                }
                            },
                            colors: ['green']
                        };

                        // Add columns to the data table
                        plotData.columns.forEach(function(curr, i, arr) {
                            table.addColumn(curr[0], curr[1]);
                        });

                        // Add the rows of data to the data table
                        table.addRows(plotData.rows);

                        var chart = new google.charts.Line(document.getElementById(elementId));

                        chart.draw(table, google.charts.Line.convertOptions(options));
                    }

                    return tmp;
                }

                // If options are stored on the server, we can use this function to
                // generate a drawing function for most of the plots
                function getGooglePlotDrawer(plotData, plotType, elementId) {

                    function tmp() {
                        var table = new google.visualization.DataTable();

                        // Add columns to the data table
                        plotData.columns.forEach(function(curr, i, arr) {
                            table.addColumn(curr[0], curr[1]);
                        });

                        // Add the rows of data to the data table
                        table.addRows(plotData.rows);

                        var chart = new google.charts[plotType](document.getElementById(elementId));

                        chart.draw(table, plotData.options);
                    }

                    return tmp;
                }

                function convertDates(plotData) {
                    plotData.rows.forEach(function(curr, i, arr) {
                        curr[0] = new Date(curr[0]);
                    });
                }

                // Load the chart data and setup callbacks to plot when we have it.
                d3.json("/stats/1", function(error, json) {

                    if (error) {
                        return console.warn(error);
                    } else {
                        var todaysSessionsGoogleData = json.result.todaysSessionsGoogle;
                        var subjectTotalsGoogleData = json.result.subjectTotalsGoogle;
                        var cumulativeGoogleData = json.result.cumulativeGoogle;
                        var rawAverageSessionGoogleData = json.result.averageSessionGoogle;
                        var rawSubjectCumulativeGoogleData = json.result.subjectCumulativeGoogle;
                        var rawProbabilityGoogleData = json.result.probabilityGoogle;
                        var introMessageData = json.result.introMessage;

                        writeIntroMessage(introMessageData, "introMessage");

                        console.log(json.result);

                        convertDates(cumulativeGoogleData);
                        convertDates(rawSubjectCumulativeGoogleData);

                        // Set up call-backs to draw the plots
                        google.charts.setOnLoadCallback(getTodaysSessionsGooglePlotDrawer(todaysSessionsGoogleData, "todaysSessionsGooglePlot"));
                        google.charts.setOnLoadCallback(getCumulativeGooglePlotDrawer(cumulativeGoogleData, "cumulativeGooglePlot"));
                        google.charts.setOnLoadCallback(getSubjectCumulativeGooglePlotDrawer(rawSubjectCumulativeGoogleData, "subjectCumulativeGooglePlot"));
                        google.charts.setOnLoadCallback(getSubjectTotalsGooglePlotDrawer(subjectTotalsGoogleData, "subjectTotalsGooglePlot"));
                        google.charts.setOnLoadCallback(getAverageSessionGooglePlotDrawer(rawAverageSessionGoogleData, "averageSessionGooglePlot"));
                        google.charts.setOnLoadCallback(getProbabilityGooglePlotDrawer(rawProbabilityGoogleData, "probabilityGooglePlot"));
                    }
                })
        </script>
    </body>
</html>
