@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    </head>
    <body>
        @content

    <script>
                function fitToContainer(canvas) {
                    // Make it visually fill the positioned parent
                    canvas.style.width ='100%';
                    canvas.style.height='100%';
                    // ...then set the internal size to match
                    canvas.width  = canvas.offsetWidth;
                    canvas.height = canvas.offsetHeight;
                }

                var canv1 = document.getElementById("subjectTotalsPlot");
                var canv2 = document.getElementById("cumulativePlot");
                var canv3 = document.getElementById("averageSessionPlot");
                fitToContainer(canv1);
                fitToContainer(canv2);
                fitToContainer(canv3);

        </script>

    <script>

                // Turn off tooltips
                Chart.defaults.global.tooltipEvents = [];

                d3.json("/stats/1", function(error, json) {

                    if (error) {
                        return console.warn(error);
                    } else {
                        var rawSubjectTotalsData = json.result.subjectTotals.data;
                        var rawCumulativeData = json.result.cumulative.data;
                        var rawAverageSessionData = json.result.averageSession.data;
                        var rawSubjectCumulative = json.result.subjectCumulative.data;

                        console.log(json.result);

                        var keys1 = rawSubjectTotalsData.keys;
                        var values1 = rawSubjectTotalsData.values;

                        var keys2 = rawAverageSessionData.keys;
                        var values2 = rawAverageSessionData.values;

                        var subjectTotalsPlotData = {
                            labels: keys1,
                            datasets: [
                                {
                                    label: "Subject Totals",
                                    fillColor: "rgba(151,187,205,0.5)",
                                    strokeColor: "rgba(151,187,205,0.8)",
                                    highlightFill: "rgba(151,187,205,0.75)",
                                    highlightStroke: "rgba(151,187,205,1)",
                                    data: values1
                                }
                            ]
                        };

                        var cumulativePlotData = {
                            // No labels for now
                            labels: rawCumulativeData.dates.map(function(curr, i, arr) {
                                return curr["$date"];
                            }),
                            datasets: [
                                {
                                    label: "Subject Totals",
                                    fillColor: "rgba(151,187,205,0.5)",
                                    strokeColor: "rgba(151,187,205,0.8)",
                                    highlightFill: "rgba(151,187,205,0.75)",
                                    highlightStroke: "rgba(151,187,205,1)",
                                    data: rawCumulativeData.values
                                }
                            ]
                        };

                        var averageSessionPlotData = {
                            labels: keys2,
                            datasets: [
                                {
                                    label: "Average Session",
                                    fillColor: "rgba(151,187,205,0.5)",
                                    strokeColor: "rgba(151,187,205,0.8)",
                                    highlightFill: "rgba(151,187,205,0.75)",
                                    highlightStroke: "rgba(151,187,205,1)",
                                    data: values2
                                }
                            ]
                        };

                        var cumulativeSubjectPlotData = {

                        }

                        // Draw the chart
                        var subjectTotalsPlotCtx = document.getElementById("subjectTotalsPlot").getContext("2d");
                        var cumulativePlotCtx = document.getElementById("cumulativePlot").getContext("2d");
                        var averageSessionPlotCtx = document.getElementById("averageSessionPlot").getContext("2d");

                        var plot1 = new Chart(subjectTotalsPlotCtx).Bar(subjectTotalsPlotData, {});
                        var plot2 = new Chart(cumulativePlotCtx).Line(cumulativePlotData, {});
                        var plot3 = new Chart(averageSessionPlotCtx).Bar(averageSessionPlotData, {});

                        // Debugging
                        console.log(keys1);
                        console.log(values1);
                        console.log(plot1);
                        console.log(plot2);
                        console.log(plot3);
                    }
                })
        </script>
    </body>
</html>
