@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
    <body>
            <!-- The content of the page. -->
        @content

        <script>

                // Load the material line chart
                google.charts.load('44', {packages: ['line', 'bar']});

                function getCumulativePlotDrawer(dates, cumulatives) {

                    function tmp() {
                        var data = new google.visualization.DataTable();

                        var rows = dates.map(function(curr, i, arr) {
                            return [dates[i], cumulatives[i]];
                        });

                        var options = {
                            chart: {
                                title: "Cumulative Hours Studied"
                            },
                            legend: {
                                position: 'none'
                            },
                            colors: ['green'],
                            dataOpacity: 0.25
                        };

                        data.addColumn('date', 'Date');
                        data.addColumn('number', 'Cumulative Hours');

                        data.addRows(rows);

                        var chart = new google.charts.Line(document.getElementById('cumulativePlot'));

                        chart.draw(data, options);
                    }

                    return tmp;
                }

                function getSubjectCumulativePlotDrawer(dates, subjectCumulatives) {

                    function tmp() {
                        var data = new google.visualization.DataTable();

                        // Array of subjects for which we have data
                        var subjects = Object.keys(subjectCumulatives);

                        var rows = dates.map(function(date, i, arr) {
                            var row =  [date];

                            return row.concat(subjects.map(function(subject, j, arr) {
                                return subjectCumulatives[subject][i];
                            }));
                        });

                        var options = {
                            chart: {
                                title: "Cumulative Hours Studied Per Subject"
                            },
                            legend: {
                                position: 'none'
                            },
                            //colors: ['green', 'blue', 'red', 'yellow'],
                            explorer: {},
                            dataOpacity: 0.25
                        };

                        // Add a column for the date
                        data.addColumn('date', 'Date');

                        // Add a column for each subject
                        subjects.forEach(function(subject, i, subjects) {
                            data.addColumn('number', subject);
                        });

                        data.addRows(rows);

                        var chart = new google.charts.Line(document.getElementById('subjectCumulativePlot'));

                        chart.draw(data, options);
                    }

                    return tmp;
                }

                // Returns a function that will draw the SubjectTotals plot
                function getSubjectTotalsPlotDrawer(subjects, totals) {

                    function tmp() {
                        var data = new google.visualization.DataTable();

                        var rows = subjects.map(function(curr, i, arr) {
                            return [subjects[i], totals[i]];
                        });

                        var options = {
                            chart: {
                                title: "Total hours studied per subject"
                            },
                            legend: {
                                position: 'none'
                            },
                            bars: 'vertical',
                            colors: ['green'],
                            dataOpacity: 0.25
                        };

                        data.addColumn('string', 'Subject');
                        data.addColumn('number', 'Total Hours');

                        data.addRows(rows);

                        var chart = new google.charts.Bar(document.getElementById('subjectTotalsPlot'));

                        chart.draw(data, options);
                    }

                    return tmp;
                }

                // Returns a function that will draw the AverageSession plot
                function getAverageSessionPlotDrawer(subjects, averages) {

                    function tmp() {
                        var data = new google.visualization.DataTable();

                        var rows = subjects.map(function(curr, i, arr) {
                            return [subjects[i], averages[i]];
                        });

                        var options = {
                            chart: {
                                title: "Average study session length per subject"
                            },
                            legend: {
                                position: 'none'
                            },
                            bars: 'vertical'
                        };

                        data.addColumn('string', 'Subject');
                        data.addColumn('number', 'Average Session Length');

                        data.addRows(rows);

                        var chart = new google.charts.Bar(document.getElementById('averageSessionPlot'));

                        chart.draw(data, options);
                    }

                    return tmp;
                }

                // Load the chart data and setup callbacks to plot when we have it.
                d3.json("/stats/1", function(error, json) {

                    if (error) {
                        return console.warn(error);
                    } else {
                        var rawSubjectTotalsData = json.result.subjectTotals.data;
                        var rawCumulativeData = json.result.cumulative.data;
                        var rawAverageSessionData = json.result.averageSession.data;
                        var rawSubjectCumulativeData = json.result.subjectCumulative.data;

                        console.log(json.result);

                        rawCumulativeData.dates = rawCumulativeData.dates.map(function(curr, i, arr) {
                            return new Date(curr["$date"]);
                        });

                        rawSubjectCumulativeData.dates = rawSubjectCumulativeData.dates.map(function(curr, i, arr) {
                            return new Date(curr["$date"]);
                        });

                        google.charts.setOnLoadCallback(getCumulativePlotDrawer(rawCumulativeData.dates, rawCumulativeData.values));
                        google.charts.setOnLoadCallback(getSubjectCumulativePlotDrawer(rawSubjectCumulativeData.dates, rawSubjectCumulativeData.values));
                        google.charts.setOnLoadCallback(getSubjectTotalsPlotDrawer(rawSubjectTotalsData.keys, rawSubjectTotalsData.values));
                        google.charts.setOnLoadCallback(getAverageSessionPlotDrawer(rawAverageSessionData.keys, rawAverageSessionData.values));
                    }
                })
        </script>
    </body>
</html>
