@()(implicit messages: Messages)

@siteTemplate("Jordan G. Dodson") {

    <div id="movie-list" class="container-fluid">

        <div class="row smallLowerPadding">
            <div class="col-md-10 col-md-offset-1 raised-element">
                <div id="introMessage">
                    I've watched <span id="movieTotal" class="introMessageValue"></span> films
                    from <span id="directorTotal" class="introMessageValue"></span> directors.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 raised-element spaced-plot">
                <div id="cumulativeMoviesPlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 raised-element spaced-plot">
                <div id="moviesPerDirectorPlot" class="googlePlotContainer"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 raised-element spaced-plot">
                <div id="moviesPerReleaseYearPlot" class="googlePlotContainer"></div>
            </div>
        </div>

    </div>

    <script>

            google.charts.load('44', {packages: ['line', 'bar', 'timeline']});

            // Global plot properties
            var titleIsBold = true;
            var titleFontSize = 32;
            var hAxisFontSize = 20;
            var vAxisFontSize = 16;

            // Convert the values in the given columns to Date objects
            function convertDates(rows, column) {
                rows.forEach(function (elem, i, self) {
                    elem[column] = new Date(elem[0]);
                });
            }

            function loadJSON(path, callback) {

                var httpRequest = new XMLHttpRequest();

                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState === 4) {
                        if (httpRequest.status === 200) {

                            // Parse the response text as JSON
                            var data = JSON.parse(httpRequest.responseText);

                            if (callback) {
                                callback(data);
                            }
                        }
                    }
                };
                httpRequest.open('GET', path);
                httpRequest.send();
            }


            function getMoviesPerDirectorDrawer(movieData, elementId) {

                var options = {
                    chart: {
                        title: "Movies per director",
                        subtitle: "top 15 most-watched directors"
                    },
                    titleTextStyle: {
                        fontSize: titleFontSize,
                        bold: titleIsBold
                    },
                    legend: {
                        position: 'none'
                    },
                    hAxis: {
                        title: "",
                        textStyle: {
                            fontSize: hAxisFontSize
                        }
                    },
                    vAxis: {
                        title: "",
                        textStyle: {
                            fontSize: 20
                        }
                    },
                    bars: 'horizontal'
                };


                function tmp() {
                    var table = new google.visualization.DataTable();

                    table.addColumn("string", "Director");
                    table.addColumn("number", "Movies Watched");

                    table.addRows(movieData.moviesPerDirector.slice(0, 15));

                    var chart = new google.charts.Bar(document.getElementById(elementId));

                    var convertedOptions = google.charts.Bar.convertOptions(options);

                    chart.draw(table, convertedOptions);
                }

                return tmp;
            }

            function getCumulativeMoviesDrawer(movieData, elementId) {

                var options = {
                    chart: {
                        title: "Cumulative Movies Watched"
                    },
                    legend: {
                        position: 'none'
                    },
                    colors: ['green'],
                    titleTextStyle: {
                        fontSize: titleFontSize,
                        bold: titleIsBold
                    },
                    hAxis: {
                        title: "",
                        textStyle: {
                            fontSize: hAxisFontSize
                        }
                    },
                    vAxis: {
                        textStyle: {
                            fontSize: 20
                        }
                    }
                };

                function tmp() {
                    var table = new google.visualization.DataTable();

                    table.addColumn("date", "Date");
                    table.addColumn("number", "Cumulative number of movies watched");

                    table.addRows(movieData.cumulativeMovies);

                    var chart = new google.charts.Line(document.getElementById(elementId));

                    var convertedOptions = google.charts.Line.convertOptions(options);

                    chart.draw(table, convertedOptions);
                }

                return tmp;
            }

            function getMoviesPerReleaseYearDrawer(bookData, elementId) {

                var options = {
                    chart: {
                        title: "Movies Watched Per Release Year",
                        subtitle: ""
                    },
                    titleTextStyle: {
                        fontSize: titleFontSize,
                        bold: titleIsBold
                    },
                    legend: {
                        position: "none"
                    },
                    hAxis: {
                        title: "",
                        textStyle: {
                            fontSize: hAxisFontSize
                        },
                        format: "####",
                        // Not working
                        slantedText: true
                    },
                    vAxis: {
                        title: "",
                        textStyle: {
                            fontSize: 20
                        }
                    },
                    bars: 'vertical'
                };


                function tmp() {
                    var table = new google.visualization.DataTable();

                    table.addColumn("number", "Year");
                    table.addColumn("number", "Movies watched");

                    table.addRows(bookData.moviesPerReleaseYear);

                    var chart = new google.charts.Bar(document.getElementById(elementId));

                    var convertedOptions = google.charts.Bar.convertOptions(options);

                    chart.draw(table, convertedOptions);
                }

                return tmp;
            }

            // Build an element for a single quote
            function buildMovie(movie) {
                var row = document.createElement("div");
                var d1 = document.createElement("div");
                var titleDiv = document.createElement("div");
                var dateDiv = document.createElement("div");
                var directorDiv = document.createElement("div");
                var ratingDiv = document.createElement("div");
                var ratingSpan = document.createElement("span");

                titleDiv.appendChild(document.createTextNode(movie.title));
                directorDiv.appendChild(document.createTextNode("Director: " + movie.directors.join(", ")));

                var ratingText = movie.userRating.toString() + "/10";

                ratingSpan.appendChild(document.createTextNode(ratingText));
                ratingDiv.appendChild(document.createTextNode("My Rating: "));
                ratingDiv.appendChild(ratingSpan);


                dateDiv.appendChild(document.createTextNode("Watched: " + new Date(movie.watched).toDateString()));

                // Set attributes
                row.setAttribute("class", "row");
                d1.setAttribute("class", "col-md-10 col-md-offset-1 book raised-element");
                titleDiv.setAttribute("class", "book-title");
                directorDiv.setAttribute("class", "book-info");
                dateDiv.setAttribute("class", "book-info");
                ratingDiv.setAttribute("class", "book-info");

                var colors = [
                    "#FF0000", "#F50A03", "#EB1405", "#E01F08", "#D6290A",
                    "#5CA329", "#52AD2B", "#47B82E", "#3DC230", "#33CC33"
                ];

                ratingSpan.style.color = colors[movie.userRating - 1];

                d1.appendChild(titleDiv);
                d1.appendChild(directorDiv);
                d1.appendChild(dateDiv);
                d1.appendChild(ratingDiv);

                row.appendChild(d1);

                return row;
            }


            loadJSON("/json/movies/1", function (movies) {

                var movieList = document.getElementById("movie-list");
                var movieTotal = document.getElementById("movieTotal");
                var directorTotal = document.getElementById("directorTotal");

                movieTotal.textContent = movies.stats.movieCount.toString();
                directorTotal.textContent = movies.stats.directorCount.toString();

                convertDates(movies.stats.cumulativeMovies, 0);

                google.charts.setOnLoadCallback(getMoviesPerDirectorDrawer(movies.stats, "moviesPerDirectorPlot"));
                google.charts.setOnLoadCallback(getCumulativeMoviesDrawer(movies.stats, "cumulativeMoviesPlot"));
                google.charts.setOnLoadCallback(getMoviesPerReleaseYearDrawer(movies.stats, "moviesPerReleaseYearPlot"));

                for (var i = 0; i < movies.movies.length; i++) {
                    movieList.appendChild(buildMovie(movies.movies[i]));
                }
            });
    </script>
}