@***********************************
Links to profiles on other sites.
***********************************@
@()(implicit messages: Messages)

@profileLink(profile: String, offset: Int, width: Int, faGlyph: String) = {
    <div class="col-md-@width col-md-offset-@offset raised-element profile-link">
        <a id="@profile.toLowerCase()-link" href="#" title="@profile Profile" target="_blank">
            <span class="fa @faGlyph" aria-hidden="true"></span>
        </a>
    </div>
}

@siteTemplate("My Profiles On Other Sites") {

    <div class="container-fluid">
        <div class="row profile-link-row">

                <!-- Link to my Github profile.-->
            @profileLink("Github", 2, 2, "fa-github")

                <!-- Link to my Twitter profile.-->
            @profileLink("Twitter", 1, 2, "fa-twitter")

                <!-- Link to my LinkedIn profile.-->
            @profileLink("LinkedIn", 1, 2, "fa-linkedin")
        </div>

        <div class="row profile-link-row">

                <!-- Link to my Stack Exchange profile.-->
            @profileLink("StackExchange", 2, 2, "fa-stack-exchange")

                <!-- Link to my Google Plus profile.-->
            @profileLink("GooglePlus", 1, 2, "fa-google-plus-circle")

                <!-- Link to my Hackernews profile.-->
            @profileLink("YCombinator", 1, 2, "fa-y-combinator-square")
        </div>

        <div class="row profile-link-row">

                <!-- Link to my Goodreads profile.-->
            @profileLink("Goodreads", 2, 2, "fa-book")

                <!-- Link to my Codewars profile.-->
            @profileLink("Codewars", 1, 2, "fa-code")

                <!-- Link to my FreeCodeCamp profile.-->
            @profileLink("FreeCodeCamp", 1, 2, "fa-free-code-camp")
        </div>

        <div class="row profile-link-row">

                <!-- Link to my Quora profile.-->
            @profileLink("Quora", 2, 2, "fa-quora")

                <!-- Link to my Pinterest profile.-->
            @profileLink("Pinterest", 1, 2, "fa-pinterest")

                <!-- Link to my Facebook profile.-->
            @profileLink("Facebook", 1, 2, "fa-facebook-square")
        </div>

        <div class="row profile-link-row">

                <!-- Link to my Codecademy profile.-->
            @profileLink("Codecademy", 2, 2, "fa-cube")

                <!-- Link to my Coursera profile.-->
            @profileLink("Coursera", 1, 2, "fa-coffee")

                <!-- Link to my IMDb profile.-->
            @profileLink("IMDb", 1, 2, "fa-imdb")
        </div>


            <!-- Script with a function for AJAX-->
        <script src="@routes.Assets.at("/javascripts/loadJSON.js")"></script>

            <!-- Load the profile profiles and add them to the page-->
        <script>

                loadJSONFile("/json/profiles/jgdodson", function (response) {

                    const profiles = response['profiles'];

                    // TODO: Display only those profiles that the user actually has
                    for (let key in profiles) {
                        if (profiles.hasOwnProperty(key)) {
                            document.getElementById(key + "-link").setAttribute("href", profiles[key]);
                        }
                    }

                });

        </script>

    </div>
}