@()(implicit messages: Messages)

@siteTemplate("Signup") {

    <form action="/todo" method="post" style="width: 300px;
        margin-top: 200px;">

        <div class="form-group">
            <label for="signup-first-name-input">First Name</label>
            <input type="text" class="form-control" id="signup-first-name-input" placeholder="First Name">
        </div>

        <div class="form-group">
            <label for="signup-last-name-input">Last Name</label>
            <input type="text" class="form-control" id="signup-last-name-input" placeholder="Last Name">
        </div>

        <div class="form-group">
            <label for="signup-email-input">Email</label>
            <input type="email" class="form-control" id="signup-email-input" placeholder="Email">
        </div>

        <div class="form-group">
            <label for="signup-password-input">Password</label>
            <input type="password" class="form-control" id="signup-password-input" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-default" value="Submit">Submit</button>
    </form>

}