@(username: String)(implicit messages: Messages)

@loggedInTemplate("Todo") {
    <link href="@routes.Assets.at("stylesheets/todo.css")" rel="stylesheet" type="text/css">
} {

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="raised-element padded-plot text-justify partial-border center-text-content">

                    <form id="todo-entry-form" class="">
                        <div class="form-group">
                            <label class="sr-only" for="change-password-input">Password</label>
                            <input type="text" name="text" class="form-control" id="todo-item-input" placeholder="I need to..." required>
                        </div>

                        <button type="submit" class="btn btn-default">Add</button>
                    </form>
                </div>

                <div id="todo-item-list"></div>
            </div>
        </div>
    </div>

        <!-- Moment JS -->
    <script src="@routes.Assets.at("/javascripts/moment.js")"></script>
    <script src="@routes.Assets.at("/javascripts/moment-timezone-10-20.js")"></script>

        <!-- Custom JS -->
    <script src="@routes.Assets.at("javascripts/TodoItemList.js")"></script>
    <script src="@routes.Assets.at("/javascripts/FormHandlers.js")"></script>

    <script>

            'use strict';

            // Set up handlers and initialize page
            $(function () {

                submitWithGeo("#todo-entry-form", "@routes.Todo.addTodoItem()");

                $.ajax({
                    type: "get",
                    url: "@controllers.routes.Todo.getTodoItems()",
                    dataType: "json",
                    success: function (responseData, textResponse, jqXHR) {

                        console.log(responseData);

                        if (responseData['success'] === true) {

                            let todoList = new TodoItemList("todo-item-list", responseData['payload']);

                            todoList.sort();
                            todoList.display();
                        } else {
                            console.log("There was an problem loading your journal entries")
                        }
                    }
                });
            });

    </script>

}